[2019-09-17 14:16] shafeeknaidoo opened #311 "Running SetUp And TearDown code when testing Kafka using the ZeroCode"
Hi
As the title suggests, I am unable to Run Setup and Teardown methods when Testing Kafka.

I use @Before Annotations on my "setup" Methods but nothing seems to work.
My code as below
[code]
When i remove '@JsonTestCase' annotation it works.

Any help would be appreciated

[2019-09-17 14:35] officiallysameer commented on #311
Hi @shafeeknaidoo,

`@Before` and `@After` are usually used for Unit testing, so these methods are executed before/after each test case.

As Zerocode is designed for Integration testing, the before/after methods should be run only once for the entire set of test cases/test suite.

Hence in Zerocode, this functionality is implemented using '@BeforeClass' and '@AfterClass' annotations for your needs

[2019-09-17 14:39] shafeeknaidoo commented on #311
As im Testing Kafka, I need the topics i created to be emptied out before each test, also i have some KTables that i need to populate, It smy understanding that beforeClass and AfterClass annotations will only run before and after all the tests get run?

[2019-09-17 14:40] authorjapps commented on #309
Hey @warademilind , The JUnit reports are generated via `maven sure-fire` (or `fail-safe plugin` if you are using). This should be already available at your target folder.

Please check the target folder,
![image](https://user-images.githubusercontent.com/12598420/65050997-37564800-d960-11e9-96f4-4dfcc2ba7fc1.png)

or

![image](https://user-images.githubusercontent.com/12598420/65050964-286f9580-d

[2019-09-17 17:32] officiallysameer commented on #281
@ivlahek, can you please join our Zerocode mailing list/Slack

https://groups.google.com/forum/#!forum/zerocode-automation

https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzIyNDUwOTg2NDUzLWQ3ZTM1YTBhNjJmNzY3NmU0Y2I4NWIwZDVjYjk4M2JhYWY5NzA3ZWEwMWIwOTIwOWFjNTg2YzFmNzZhYTUyYzI

[2019-09-18 15:40] officiallysameer opened #312 "Need a payload strict matcher feature for zerocode assertions"
I need a `strict` matching capability for API contracts in my project.

e.g.
Actual payload:
[code]

The below expected payload will `pass`
[code]

The below expected payload(s)
should `fail`.
[code]
should `fail`.
[code]
should `fail`.
[code]

[2019-09-18 16:40] authorjapps commented on #312
We can go for STRICT mode comparison something simillar to `SkyScreamer`.

[2019-09-19 05:31] ivlahek commented on #281
@officiallysameer , can you please recreate invitation for slack ...
It is not longer active.

[2019-09-19 10:05] nirmalchandra commented on #312
@officiallysameer , can you please bring up a Wiki page on this?

[2019-09-19 14:12] authorjapps commented on #312
Available in `1.3.14` and higher

[2019-09-19 16:11] officiallysameer commented on #312
Wiki link
https://github.com/authorjapps/zerocode/wiki/Strict-Mode-Payload-Comparison

[2019-09-19 16:13] authorjapps opened #314 "Merging README and Wiki - Removing duplicate contents"
Any suggestions? Thanks in advance.

TODO--
- Move lengthy instructions/steps to a new Wiki page
- Remove similar/contents, merge and make one
- Provide `code/yaml/json` as text (image not preferable as it makes it difficult to copy-paste for a developer/tester)
- Sections
  - Mainly these 4 sections(but can extend depending on a usecase)
  - Problem statement/Introduction
  - Solution
  - Conslus

[2019-09-19 19:30] #312 closed

[2019-09-20 10:23] authorjapps commented on #314
@vkjha2000 @officiallysameer, if you get chance, can you tidy up these and make it easily searchable/maintainable ?

[2019-09-20 11:17] authorjapps commented on #281
@ivlahek, Can you try this link?
https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ

[2019-09-20 13:29] nawazbaba1993 commented on #179
Hi I have bit knowledge on kafka can I take up this issue. To start with my first OSS contribution

[2019-09-20 14:39] officiallysameer commented on #311
Hi @shafeeknaidoo,

Can you join our slack channel.\https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ

We can decide a time to meet on slack and discuss it there

[2019-09-20 17:33] BeTheCodeWithYou commented on #310
@authorjapps
PR raised. All Travis checks passing.
Merged to master.
closing issue.

[2019-09-20 17:33] #310 closed

[2019-09-24 11:20] PrabaharanK opened #317 "@UseKafkaClient is not working with TestSuite"
I'm using zerocode-tdd version of 1.3.8. When I write individual test classes with customized kafka client  like below

[code]

My CustomKafkaClient.class is loaded and everything works fine.

When I try to run the Json tests through TestSuite like below
[code]

Though I annotated test suite class with @UseKafkaClient(CustomKafkaClient.class), BasicKafkaClient.class from org.jsmart.zerocode.core.k

[2019-09-25 06:58] authorjapps commented on #317
@PrabaharanK , yes, we can help you to sort out this.
Can you please join our Mailing-List and Slack channel and ping us there...
You might get a better/faster response there.

[2019-09-30 08:56] warademilind commented on #309
Thanks all.
I am able to get reports.

[2019-09-30 08:56] #309 closed

[2019-09-30 11:58] officiallysameer commented on #317
@PrabaharanK
How urgent is this issue is for you? Can you provide your use-case in more detail so that we can try to help you better

[2019-09-30 16:00] authorjapps commented on #310
Some more things to take care(not major) please 👍 -
https://github.com/authorjapps/zerocode/pull/315#issuecomment-536616882

A new PR will do.

[2019-09-30 22:41] vkjha2000 commented on #314
Done.

[2019-09-30 22:41] #314 closed

[2019-10-01 12:50] PrabaharanK commented on #317
This s not urgent to me. use case is I'm preparing TestSuite,I want to add customized kafka client to send and receive messages from topic. Problem is, with @RunWith(ZeroCodePackageRunner.class)  my customized kafka client is not working. Test suite took default BasicKafkaClient.class.

Scenario,
1. Create Test Suite like below
@TargetEnv("properties/server.properties") @TestPackageRoot("scenarioJ

[2019-10-01 19:18] authorjapps commented on #317
Hello @PrabaharanK , thanks. The point of the question here is - we are trying to understand why the `custom client` is needed for your project. Probably we can implement the features into the `BasicKafkaClient.class` if that helps.

[2019-10-02 11:35] vkjha2000 opened #320 "Generate Cucumber Gherkin steps using Zerocode DSL"
Our test-engineers as well as developers often struggle to come up with `Given-When-Then` scenarios/steps for the API testing. Also to get these feature-file steps agreeable among the devs or testers is sometimes difficult as, the statements or implementations(step-definitions) varies from dev to dev `or` from tester to tester. This is because everyone wants to write in their specific way, which b

[2019-10-02 14:04] authorjapps opened #321 "TestNG runners for zerocode scenarios"
//TODO

[2019-10-02 14:39] authorjapps opened #322 "Kotlin DSL for test scenarios"
Provide Kotlin DSLs for user journeys.

Ans: Kotlin provides inline JSON typing enclosed by triple quotes. This will be helpful for developers/testers to write and maintain the tests in a single file with type-safe feature of the language.

Ans: Todo

[2019-10-03 06:06] PrabaharanK commented on #317
The Point is, Messages we pushed and received from Kafka topic is encrypted. The Encryption  and decryption mechanisms are company specific. So Whatever message we push should be encrypted and vice versa.

[2019-10-03 08:44] BabiNick commented on #231
Hi @authorjapps, I'm a little confused as to what you're asking for.
1. A video to explain the challenges of API Development and Zerocode's solution to the challenges faced.
2. Video template that can be re-used. Does that mean making clips of slides that are generic with different themes along with a folder of suitable royalty free music to be used for the video?

[2019-10-03 09:14] nirmalchandra commented on #317
Thanks @PrabaharanK , makes sense now.
I am working on this and will be raising the PR soon with the fix.

[2019-10-07 12:53] authorjapps commented on #317
Available in version `1.3.16 `

[2019-10-07 12:57] authorjapps commented on #310
Available in version `1.3.16`.

[2019-10-09 13:08] lovelyplanet2019 opened #325 "New beginner, can this run in Katalon?"
We are using katalon to test API. Can we use zerocode in Katalon to perform kafka message validation?

[2019-10-09 13:43] officiallysameer commented on #325
@lovelyplanet2019
Is Katalon an opensource product? what kind of tool is this?  Is it maven based?

[2019-10-09 13:51] lovelyplanet2019 commented on #325
It is free tool, UI based to test API or UI, similiar like selenium but developed by Katalon. Not maven based.

[2019-10-12 03:47] authorjapps commented on #317
Hello @PrabaharanK mate, would you please join the Slack channel n the mailing list?

Link: [Join Slack](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ)

Link: [Join Mailing list](https://groups.google.com/forum/#!forum/zerocode-automation)

[2019-10-14 09:18] Kloe2257 opened #326 "ZeroCodeUnitRunner throws NoSuchMethodException"
Hello,

I am trying to use ZeroCode v1.3.16 for load tests on simple Junit 4 tests.

But while using class **ZeroCodeUnitRunner**, I am facing a **NoSuchMethodException** on **isIgnored** (by the way, the exception is catched and hidden by the **ParentRunner** class, I lost lot of time and finally found it by debugging the lib classes).

It prevents the loader from working or generating the report

[2019-10-18 05:42] bc-nikhil opened #328 "Can we add conditional checks in zerocode Steps?"
Hi,

Can we add conditional checks in zerocode Steps?

My scenario is, I have different roles based response, for the same steps.
If we can add these conditional checks it will solve the problem.

[2019-10-21 19:13] authorjapps opened #330 "Send headers while producing to a Kafka topic"
https://github.com/authorjapps/hello-kafka-stream-testing/issues/1

Background
===
From Slack:
Question from: Kushagra
@authorjapps is it possible to send a message to a Kafka topic with a particular header? I know we can do that in http. Please advise!

AC1:
===
As a developer or SDET
I want to produce a record with header(s) to a desired Kafka topic
So that I verify the business flow related to

[2019-10-23 12:19] bc-nikhil commented on #328
The scenario is I have different roles for the same steps, only the response codes & access tokens will change. So, I am trying to automate APIs on the basis of different roles.

[2019-10-23 12:59] kristin-smith commented on #275
Hello @authorjapps  I'd like to contribute. Is it ok to submit a pull request if it's assigned already?

[2019-10-24 15:04] automatedbegginer opened #331 "Sending raw string in urlencoded data field #question"
Hello,

I have the following data to send:

      "name": "post_message",
      "url": "some/url",
      "operation": "POST",
      "request": {
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "body": {
          "id": "84844",
          "data": "SOME*DATA\nMORE*DATA",
        }
      }

When I follow TCP stream, in request I get encoded data "

[2019-10-24 20:03] tripleratamacue commented on #231
This guy created one, that covers some areas mentioned: https://www.youtube.com/watch?v=YCV1cqGt5e0

[2019-10-25 03:19] jahluwalia opened #332 "TestMethodOrder for load/stress junit5 test"
I'm using your tool to load/stress test a java application using Junit5. If i have a single test class, is there a way to randomize the order in which each thread executes the tests? I tried prefacing the test class with `@TestMethodOrder(MethodOrderer.Random.class)` but that didn't seem to help.

My LoadClass is as follows:

[code]
 My test class is as follows:

[code]

It seems to always execute

[2019-10-25 17:40] authorjapps commented on #231
This video doesn't seem very structured, though it explains some aspects of the framework. Also, the video is a bit longer(around 15min+). A `5 min type` video is better if created.

I think we need some kind of template(btw I am not too sure if it is even possible to create a video template at all or not), so that we can keep the template and fit new contents to create new videos(basically reuse

[2019-10-26 10:16] authorjapps commented on #332
@jahluwalia , we will have a look at this soon. Thanks for your patience.

[2019-10-26 10:21] authorjapps commented on #331
Hello @automatedbegginer ,

I believe the `Apache Http client` encodes this, the framework doesn't encode.

@arunvelusamyd , can you put some thought to this, please? You have dealt with quite a lot of realtime use cases(those definitely might help). Appreciate your help mate!

[2019-10-26 10:25] authorjapps commented on #326
Hello @Kloe2257 , thanks for reporting this, we will take a look soon and put necessary fix!
If you can, please try to contribute and fix this(via a PR please) !

[2019-10-30 14:58] officiallysameer commented on #332
Hi @jahluwalia,
Do you have this code shared somewhere in a public repo. We can have a look.

Also, can you explain your use case for this requirement

[2019-10-30 15:32] nirmalchandra commented on #332
@jahluwalia
Are you lookin for something like below, where the order is not guaranteed?

<img width="1121" alt="image" src="https://user-images.githubusercontent.com/15079710/67872796-639de080-fb2a-11e9-8875-27a7cbd37193.png">

[2019-10-30 19:16] jahluwalia commented on #332
Hi guys,

I actually went with a different approach. I built up my class and put it in a container. So then i just spin up multiple instances of the container using --scale in docker compose. This simulates users hitting the machine.

thanks,
jas

[2019-10-31 07:19] authorjapps commented on #275
Wiki page created to capture the basic CLI. Feel free to add/update when you find anything relevant please!

Wiki link: [here](https://github.com/authorjapps/zerocode/wiki/Zerocode-archetype-to-auto-generate-a-maven-testing-project)

[2019-11-03 12:24] ragcrix commented on #326
Hi @authorjapps!

If this task is still open, I can look at this.

[2019-11-03 12:52] authorjapps commented on #326
Thanks @ragcrix !

[2019-11-06 17:55] officiallysameer commented on #332
@jahluwalia , sounds ok. Glad to know that.

I found this question also answered in StackOverflow([link to -Zerocode JUnit5 Load Testing](https://stackoverflow.com/questions/57849469/rest-api-load-tesing-zerocode-tdd-giving-error-message))

[code]

I am putting the below for everyone's benefit.
Docker `--scale` is fine, but my suggestion is more generic i.e. there is no need for Docker installatio

[2019-11-08 11:15] authorjapps commented on #192
File support available in `1.3.17` release.

[2019-11-08 11:23] #332 closed

[2019-11-08 11:36] authorjapps opened #337 "Create a simple and achievable PR template"
AC1:
The template can reside in the `doc` folder of the project root directory. This makes it visible to all.
Help on [how to create a PR template](https://help.github.com/en/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository)

AC2:
Please have the rules which can be reasonably achieved by a developer.
The following(at least) should be the part of the template.

[2019-11-08 13:28] ragcrix commented on #326
Hi @Kloe2257,
I didn't reproduce the issue.
Could you please write your steps for this error?

Thank you.

[2019-11-10 19:17] authorjapps commented on #275
Available in version `1.3.17` and higher releases.

[2019-11-11 08:43] hgvanpariya commented on #337
@authorjapps : Here I've added PR template, please provide your feedback for the same.

https://github.com/authorjapps/zerocode/pull/338

[2019-11-11 11:10] authorjapps commented on #337
Available in version `1.3.17`

[2019-11-13 15:11] schhor opened #339 "Ability to ignore a steps ?"
Hi,

I'm just discovered zero code and it is great.

I would like to know if there is a way to disable some steps from a scenario ? (for example by adding a attribut ignore: true ).

This ability could help me to do some "BabySteps coding". I would like to code in a T.D.D. style approach with Baby steps.

Here the process I like to follow :
- Scenario is written in json and commit in a feature bra

[2019-11-14 07:54] nirmalchandra commented on #339
@schhor , `ignoreStepFailures` is already present, but this may be in a slight different context.
Please have a look [here](https://github.com/authorjapps/zerocode/wiki#ignoring-step-failures). This applies to the **entire scenario**, bot individual steps.

Yes, we can sort this out for you in the upcoming release.  This is bit granular and you want the control in the individual steps. Sounds good

[2019-11-14 09:02] schhor commented on #339
Hi @nirmalchandra,

I have seen the ignoreStepFailures but like you have guess I don't want my build to fail.

It would be great if this can be done in the next release !  Thanks you so much :)

[2019-11-14 09:04] schhor commented on #339
A another thing, can I contribute ? do you have any entry point to know how to to do? thanks

[2019-11-16 17:09] drizztDo commented on #325
There is more than one Katalon product. Which one is you mentioned? Is that Katalium?

[2019-11-21 07:18] authorjapps opened #340 "TECH-DEBT - Nice to have feature for archetype"
The following are "nice to have feature" if implemented would make the archetype more usable.

## 1)

We might have to change the `group-id` to `org.jsmart` in the future to get this published
to maven central.

See the [discussions](https://github.com/authorjapps/zerocode/pull/333#issuecomment-548843357)

## 2)
Optional change regarding the username and/or bearer token -It may be a 'nice to have'

[2019-11-22 10:35] deblockt opened #341 "Send AVRO content to kafka"
Hi,

We try to send kafka message using AVRO and schema registry.

Right now, we've been trying to do something like this:

on configuration
[code]

on test

[code]

ZeroCode serialize this code using avro and send it. But it doesn't use the existing schema for the object.
On the schema registry, we have this schema:
[code]

Instead of use the existing schema, it create a new one `command-value` w

[2019-11-22 12:07] PrabaharanK opened #342 "Can we start Kafka consumer before the producer"
In my scenario, My Kafka consumer not receiving the messages from the topic. After analyse, I get that producer completion takes before consumer start.

I try to enable auto.offset.rest to "earliest" but I'm afraid it will pick the messages from start. I believe the topic contains more than 100K messages in it. Consuming it all every time is kind of overloading my consumer step.

After googling I

[2019-11-22 13:57] jneate commented on #342
@PrabaharanK - If your Kafka instance remains active i.e. you don't re-build it between tests then you can use the Kafka consumer-group functionality in combination with the `auto.offset.reset=earliest` config.

This means that when your consumer starts up again, provided the value for `group.id` hasn't changed then your Kafka instance should re-attach the new consumer to the existing group and st

[2019-11-24 14:29] authorjapps commented on #328
This has been solved over a conversation via Slack channel.
I think this issue can be closed, with the following in place for the other users' benefits.

+ Add some more details to the description
+ Add an example of the issue
+ Add a sample solution which resolved the issue

[2019-11-24 14:31] authorjapps commented on #339
Note-
This is not kind of or related to issue #328
Can you please unlink(when you get a chance)?

[2019-11-25 07:27] PrabaharanK commented on #342
okay but in every kafka consume operation we (zero code) are rebuilding the kafka instance right ? I can see KafkaReceiver#receive method has following lines

`Consumer consumer = KafkaConsumerHelper.createConsumer(kafkaServers, this.consumerPropertyFile, topicName);
`
and loading auto.offset.reset=latest every time. Still the consumer start from groups last offset position or wait for the new mes

[2019-11-25 14:22] RA330180 opened #343 "To write response and request to file"
Hi team,

1. I am trying to write API request and response to a .txt file. But I am not able to do so. The logs generated contains whole history of execution. But i want only request and response for each test case. Please help me in this.
2. I am trying to pass the token generated in one test case(Token as global variable) to different test cases. but not able to do so. Kindly support me here.  F

[2019-12-05 08:39] schhor opened #344 "How to store a value from a response from one step and reinject it in another step"
Hi,

I looking for this feature.

Read a value from a response of a step (API call) and reinject this value in a request of another step (API), because this value is a random uuid.

I have not found it in the documentation, but may be I have miss it.

thanks

[2019-12-05 09:07] schhor opened #345 "Take in account status code response for wire mock"
Hi,

I have an issue when mock with another status code than 200, this status code is not use.

here the step :
[code]
and when running the test, I get :
[code]
I think the issue is here :
[code]
[ZeroCodeWireMockRunner](
https://github.com/authorjapps/zerocode/blob/master/http-testing/src/main/java/org/jsmart/zerocode/zerocodejavaexec/wiremock/ZeroCodeWireMockRunner.java)

[2019-12-05 17:48] deblockt opened #346 "WireMock - headers malformed"
When I use this step :
[code]

The `Content-Type` header is `"application/json"` instead of `application/json`

[2019-12-06 05:13] anishjha93 commented on #344
Hey schhor,
See this example.

{
  "scenarioName": "customer Details",
  "steps": [
      {
             "name": "login",
            "url": "http://localhost:8080/login",
            "operation": "POST"
            "request": {
               "user":"anish",
               "password":"anish"
            },
            "assertions": {
            }
     },
    {
            "name": "get_customer",

[2019-12-06 10:02] #342 closed

[2019-12-06 16:55] deblockt commented on #345
The status on `verify` is always 200.
But on the real mock the status is ̀404`

[2019-12-07 14:21] anishjha93 opened #348 "Ability to print custom log."
Hi, There should be an option to print some custom log based on steps.

Suppose there will be the scenarios where user want to print their own log for particular step.

[2019-12-07 20:47] authorjapps commented on #348
Thanks, sounds good. The PR is under review.

Can you please update the below Wiki Page please with this(optional) field when you get chance?
[Wiki : What-is-Zerocode-testing](https://github.com/authorjapps/zerocode/wiki/What-is-Zerocode-testing)

[2019-12-09 05:59] anishjha93 commented on #348
Hi,
I will be happy to do this. please let me know how i will do that.
Because i am not getting any edit option there and also not able to commit the changes into  https://github.com/authorjapps/zerocode.wiki.git

[2019-12-09 19:22] schhor commented on #344
@anishjha93 thanks so much

[2019-12-09 19:22] #344 closed

[2019-12-09 19:23] schhor commented on #345
ok sorry

[2019-12-09 19:23] #345 closed

[2019-12-16 07:49] authorjapps commented on #348
Please check now. You need to accept the invitation before that(check your email please).

[2019-12-17 04:24] anishjha93 commented on #348
Hi,
added in step section.
https://github.com/authorjapps/zerocode/wiki/What-is-Zerocode-testing#customlog

[2019-12-17 17:07] schhor commented on #339
Hi,
I have edited my comment to remove the link

[2019-12-17 21:57] authorjapps commented on #348
This will be available in `v 1.3.17`.

_Due to end-of-year and X-mas time, we are experiencing a slight delay in the review and release processes.  We are trying our best to get the fixes released by early 2020._

[2019-12-17 21:58] authorjapps commented on #339
Thanks @schhor. Apologies for the delay in getting this fixed.

This will be available in `v 1.3.17`.

_Due to end-of-year and X-mas time, we are experiencing a slight delay in the review and release processes.  We are trying our best to get the fixes released by early 2020._

[2019-12-17 22:00] #275 closed

[2019-12-17 22:01] authorjapps commented on #294
_Due to end-of-year and X-mas time, we are experiencing a slight delay in the review and release processes.  We are trying our best to get the fixes released by early 2020._

[2019-12-17 22:02] #317 closed

[2019-12-25 13:22] vkjha2000 commented on #339
@schhor ,
I am one of the initial designer of the HTTP DSLs.

Just trying to understand the test-flow, before we actually implement it.
Can you please validate ?

Initially, you would have all `ignored` steps as below:
[code]

then once you implement the `POST` method(mark step1 as false):
[code]
next, after you implemented the `GET` method(mark both steps as false):
[code]

[2019-12-28 19:40] danish-007 commented on #179
Hi ,Can i work on this as my first open source contribution?I have working knowledge of Kafka.

[2019-12-29 22:11] authorjapps commented on #339
@schhor , Thanks for your interest.
assuming @vkjha2000 's proposal is what you are looking for, you can check this method

[code]

Then, check the `isIgnored()` flag is false, then do not execute this step.

[code]

[2019-12-30 12:41] schhor commented on #339
Hi @vkjha2000,

this is exactly that I want to do.

thanks

[2020-01-02 12:08] siddhagalaxy commented on #277
Just checking, if you support `validators` ? Is there any help somewhere in readme or wiki?
I am looking for something like below:
[code]

Basically I should be able to point to any field using a JSON Path and validate that field. In this case I do not have to go via the hassles of STRICT and LINIENT matching...?
[code]

fyi, [pyresttest](https://github.com/svanoort/pyresttest) has some kind of va

[2020-01-02 12:52] patown opened #350 "provide a tool to convert HAR file to zerocode json/yaml teset case file"
a user has to write a json/yaml file by hand to create a zerocode test case.
It will be much easier and more attrive to those who can not write codes if ZeroCode could proivde a har2case  tool to conver HAR files created by Fiddler/Charles to ZeroCode test cases.
In this case, a user could work out testcases in such a play-and-record way and create test cases more effectively.

[2020-01-03 09:45] dineshr226 commented on #237
Hi Rahul, could tell me what was configuration issue here and how to resolve it... I am also facing same.

[2020-01-03 09:48] automatedbegginer opened #351 "JWT token decode"
Hi there !

Is there any way to decode jwt token and check for a specific value. I am using a custom step method to decode and check by part of the string. It would be much easier to do it with framework if there is a possibility

Best

ab

[2020-01-03 09:53] rahul-mali-mpf commented on #237
Kafka was running in Docker container. And Dev team writes the Docker file for kafka docker Image.
They updated the Docker file and created new Kafka Docker image. The updated Kafka docker image is able to receive and consume the messages. Not remember exactly as its too old issue but i believe they updated the Kafka configuration to accept the messages globally.
For now this is the only info I ha

[2020-01-03 10:05] automatedbegginer opened #352 "Test mechanism exception"
Hi,

I have done some new tests and start getting following exception in one module:

java.lang.RuntimeException: Exception while deserializing to ZeroCodeReport. Details: com.fasterxml.jackson.databind.exc.MismatchedInputException: No content to map due to end-of-input
 at [Source: (File); line: 1, column: 0]

	at org.jsmart.zerocode.core.report.ZeroCodeReportGeneratorImpl.lambda$readZeroCodeRepo

[2020-01-03 11:29] vkjha2000 commented on #277
yes, we have been thinking to implement this feature while designing the DSL from beginning.
We will raise a tech-debt issue and will fix it. If you are interested you are welcome to contribute

[2020-01-03 11:32] vkjha2000 opened #353 "[TECH-DEBT] validators in zerocode"
From: @siddhagalaxy  [#277](https://github.com/authorjapps/zerocode/issues/277#issuecomment-570547597)

Just checking, if you support `validators` already? Is there any help somewhere in readme or wiki?
I am looking for something like below:
[code]

Basically I should be able to point to any field using a JSON Path and validate that field. In this case I do not have to go via the hassles of STRICT

[2020-01-03 13:35] vkjha2000 commented on #179
It's great to know @danish-007, can you please check if you can pick any other Kafka related issue?
It seems like this issue has been already fixed and a PR is waiting for approval.
PR link: https://github.com/authorjapps/zerocode/pull/327

[2020-01-04 08:54] authorjapps opened #355 "Producing to multiple Kafka topics"
Linked to #179

AC1:
As an automation engineer,
I want to produce the same record/message to multiple topics at once
So that I can validate the same message as a consumer from `one` of the topics.

AC2:
As an automation engineer,
I want to produce the same record/message to multiple topics at once
So that I can validate the same message as a consumer from `all of the topics` at once.

AC3:
As an a

[2020-01-04 08:56] authorjapps commented on #352
@automatedbegginer , Which IDE do you use?

[2020-01-04 08:58] automatedbegginer commented on #352
Intellij

[2020-01-04 12:48] nirmalchandra commented on #352
Can you do a `mvn clean install -DskipTests` first, just to make sure you have a clean build ?
Then run the test.

Also, can you stick the `Scenario` JSON file to this ticket to have a look?

[2020-01-04 18:08] automatedbegginer commented on #352
Clean build helped. I am still not used to building and compiling application :) , since i used python so far. Thank you very much for help.

[2020-01-04 18:08] #352 closed

[2020-01-04 22:40] nirmalchandra commented on #351
@automatedbegginer , Yes, sounds good. That will be a good feature.
Can you please paste a sample `Scenario` file here just to have a look...?
That will help us to implement the correct thing 👍

[2020-01-05 11:38] automatedbegginer commented on #351
@nirmalchandra I have attached scenario, and as you can see, i am using helper method to decode JWT and then assert by part of string as i cannot return JSON object (framework is trying to deserialize it and it snaps). I think validating something by part of string is not good as order can be changed. It would be much cleaner to do assert normal way to search for value in json. Thanks

[2020-01-05 14:20] authorjapps commented on #353
Available in version `1.3.17` onwards

[2020-01-09 19:51] authorjapps commented on #350
@patown , sounds great. We can definitely try to help you on this.

Do you have a HAR file sample created by Fiddler/Charles ?

Are you on [slack channel](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ) to discuss further?

Basically we need some more input to implement it correct

[2020-01-14 09:29] stevenwaterman opened #357 "README.md typo in example matcher"
Under the `Matchers` section, the first example contains the line `verifyMode: LINIENT`. Based on the docs at https://github.com/authorjapps/zerocode/wiki#lenient-and-strict-matching, it should be `LENIENT`.

[2020-01-15 07:44] nirmalchandra commented on #357
Thanks for noticing and fixing it.
The PR has been merged.

[2020-01-15 17:08] deblockt opened #359 "Use environnent var instead of properties files"
We want to run our acceptance tests on our ci.
On the ci to avoid issue between multiple builds we use random port.
Using fixed properties we can not connect acceptance tests with our application (because of port configuration).

It can be fine to be able to override properties by environements var. Using env var we can allow dynamic port.

[2020-01-18 08:12] authorjapps commented on #359
@deblockt , Just going through the PR. I have some questions.
1) Are these random ports going to be deterministic? It's random, but deterministic before the run.
2) How are they set during runtime?

e.g.

Assuming the port is `1234` above,  it becomes a fixed `port`?

We already have a feature to support ENV vars, can't that be useful? Can you have a look at https://github.com/authorjapps/zerocode

[2020-01-18 08:38] authorjapps opened #361 "Write a Wiki help-page on the usage of the system env variables and properties"
### AC
As an automation engineer or developer
I want a `Wiki Help Page` on the usages of the System Properties or System Env Variables and how they are accessed in the Zerocode steps
So that I can use them in my project when I have a use case to do so e.g. assigning a random port or using a random host or parameterized host from the system properties.

### Things to do
+ Visit these related issues

[2020-01-23 12:10] santhoshTpixler commented on #359
@deblockt Already we have support for accessing environment variables from the JSON files. But in your case, you might want to change the port in the host.properties before you run the tests to access the application.

You can append the new property with the port and start the test to properly access the application running on the random port.

Eg:  If your application is running on $PORT, then

[2020-01-24 01:25] Rinita-De commented on #361
@authorjapps  - can I work on this ?

[2020-01-24 23:15] authorjapps commented on #361
@Rinita-De , yes . Thanks!
Can you check whether you have edit access to the Wiki page?

[2020-01-24 23:19] Rinita-De commented on #361
@authorjapps  - No I dont have edit rights, can you please grant me the same?

[2020-01-25 00:15] authorjapps commented on #361
ok.
Sen you an invitation.
Can you pls accept it and then check?

[2020-01-25 15:24] Rinita-De commented on #361
Thanks, I have edit access now.

[2020-01-26 15:50] deblockt commented on #359
@authorjapps I have fill the TODO. Ports are random and generated by docker. there are set during the environment start.

@santhoshTpixler yes we can override the `host.properties` file using command line, but it's not a simple way to work.  Using environment var or JVM properties is a common way to define connection information between two systems.

[2020-01-27 07:33] authorjapps commented on #341
@deblockt , apologies! we were slightly busy with other priority tickets and our day jobs. That's why couldn't address this issue. This looks like a feature request(or question?).

We will have a look soon!

[2020-01-31 01:56] Rinita-De commented on #361
@authorjapps  - I have updated the wiki. Please review and let me know your comments.

[2020-02-01 07:02] authorjapps commented on #361
Thank you. Looks Fantastic! Great job.
Have you joined our [Slack](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ) and [Mailing-List](https://groups.google.com/forum/#!forum/zerocode-automation).
It will be nice to have a quick chat and if you can help us to improve other WIki Pag

[2020-02-01 18:02] Rinita-De commented on #361
@authorjapps - I have joined both Slack and the mailing list. I would like to contribute to the project. We can catch up on slack.

[2020-02-01 21:43] #361 closed

[2020-02-02 14:13] AkshayBabbar commented on #215
is this issue Resolved?

[2020-02-08 08:27] #337 closed

[2020-02-08 08:57] authorjapps commented on #320
Not in scope

[2020-02-08 08:57] #320 closed

[2020-02-11 16:12] kamipatel opened #363 "Custom Logging instead of CSV"
Is it possible to override the csv logging? I would like to lo to database instead. How can I do it? Possible to extend ZeroCodeUnitRunner.class?

Thanks!

[2020-02-18 11:50] authorjapps commented on #363
Hello @kamipatel , Just curious to know, how will this help in testing or automation?

[2020-02-21 15:51] authorjapps commented on #179
Available in `1.3.17` release

[2020-02-21 15:51] #179 closed

[2020-02-21 15:52] #348 closed

[2020-02-21 15:52] #353 closed

[2020-02-21 16:00] #357 closed

[2020-02-21 16:13] #292 closed

[2020-02-21 16:14] authorjapps commented on #89
Out of current scope.

[2020-02-21 16:14] #89 closed

[2020-02-23 18:24] ivlahek opened #365 "Support for standard JUnit annotations"
Hi guys,

It would be great if JUnit annotations (@Before, @After, @Rule) could be supported.

We talked a few months ago about this feature and you told me to open an issue and a pull request.

[2020-02-27 16:55] anishjha93 opened #367 "Multi step support for step file"
AC1:
===
As a user(developer or dev-in-test)
I want a stepFile with array type support
So that I can reduce lines of code in main scenario file(i.e. if step file supports array of steps, then I can write more steps in a single external file and reduce main scenario file).
And I can reuse this step files in other scenarios(wherever applicable)
[code]
===

Hi,
Currently, only one step is supported i

[2020-02-27 18:02] anishjha93 commented on #367
ISSUE-367 Multi step support for step file added  #368

[2020-02-28 12:23] seebosmile opened #369 "Can i run on command line (CI/CD) without JUnit ?"
Can i run on command line without JUnit  ?
So , I need test to RestAPI (Asp.net Core/OpenAPI/ Swagger)

[2020-02-29 07:53] authorjapps commented on #367
Hi @anishjha93, Trying to understand the use-case for this. Also for other reviewer's benefit, can you put some details around when this particular feature is useful?

I have created a placeholder(in the description section) which shall help you to capture the detailed usecase for this.

[2020-02-29 07:59] authorjapps commented on #365
Hi Igor, Thanks for the PR. We will look into this soon and get back to you in case we need more clarification around this.

[2020-03-04 03:55] anishjha93 commented on #367
Details added

[2020-03-04 10:40] PrabaharanK opened #370 "Can we ignore specific failing step"
Description:

I'm writing zero code tests, 5-6 steps in the scenario. I assuming 3rd step could be failed. Because of 3rd step I don't want to say entire scenario is failed but what My expectation is runner should proceed to next steps. Any fails on 1st, 2nd, 4th, 5th and 6th step considered to be scenario failure except step 3rd.

Any solution for this ?

[2020-03-04 14:05] authorjapps commented on #370
Linked to https://github.com/authorjapps/zerocode/issues/339(Hover your mouse for details).

[2020-03-04 15:12] authorjapps commented on #369
@seebosmile , yes, you can. But we need to know more details around it. Will come back on this.

Are you on Slack?

If not, can you please join [Slack](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ) and our [mailing-list](https://groups.google.com/forum/#!forum/zerocode-automatio

[2020-03-04 15:21] authorjapps commented on #359
@deblockt , Just trying to figure out, Who(how) sets the properties into System properties or Env variables? Meaning - how the ports are populated into the Env variables?

[2020-03-04 16:52] deblockt commented on #359
It's a script runned by the ci.
the script do :
  - start docker-compose on random port
  - get port chossen by docker-composer
  - set the jvm args or env var to be able to run tests
  - run tests

[2020-03-04 17:09] authorjapps commented on #359
ok.
Then assuming `random_port` is one of the system property which holds the random port,
Can't you access the following way... (already supported)?

[code]

Note:::
This `${web.application.endpoint.host}` is just for example, but can be any key from the target config.

or

[2020-03-06 17:55] deblockt commented on #359
Yes I can do that for API endpoint, but it's not easy to read... JSON test are already very hard to read.
And are there a solution for kafka connection?

[2020-03-07 10:32] authorjapps commented on #359
@deblockt , I pinged you on the Slack couple of time... No response :-(

It looks like you are lookin for some other solution.

It's not clear from your PR what problem you are trying to solve(not matching the issue description)...

I have added some [comments](https://github.com/authorjapps/zerocode/pull/360/files#r389244691) to your PR.

Can you address that?

[2020-03-10 03:19] seebosmile commented on #369
@authorjapps  i join to Slack already , thank you

[2020-03-20 07:50] gaurav1thakur opened #371 "Reports are being generated in subdirectories and zerocode-junit-interactive-fuzzy-search.html is not being genrated"
AC: As a automation tester/developer reports must be generated for all scenarios
**Note** ```/``` special characters including in scenario name for instance ```Scenario Test Pass/Fail```

**use-case example**
So I have multiple scenarios including one scenario "Scenario Test Pass/Fail"
This creates a reports in different target directory structure with format
 ```zerocode-test-reports/Scenario Tes

[2020-03-20 09:49] authorjapps commented on #371
@gaurav1thakur , can you try to run this command from the `command line`?

Then run your test from the `IntelliJ IDE` and see if it resolves.

[2020-03-20 14:54] gauravkrthakur1 commented on #371
hi @authorjapps tried to run after ```mvn clean```  , but no luck

[2020-03-22 13:28] robertotru commented on #326
I have the same issue `NoSuchMethodException` with version 1.3.17.

I have the same problem using JUnit 4.12.
The problem seems to be that the `ZeroCodeLoadRunner` describes the method appending the prefix `<<Load>>`, which won't let the test method to be run inside JUnit `Filter` class when method `matchMethodDescription` does
[code]
So, if the test method is called foo, the id of the two descrip

[2020-03-27 15:25] teajayez opened #372 ""${RANDOM.UUID}" not random"
### After the fix

- https://github.com/authorjapps/zerocode/wiki/Token:-Random-Number
- https://github.com/authorjapps/zerocode/wiki/Token:-Random-UUID

***

I'm using "${RANDOM.UUID}" in a single file to generate random UUIDs for multiple values. Expected behavior is that each reference to "${RANDOM.UUID}" will substitute a new UUID - the way "${RANDOM.NUMBER}" works. Instead **the same** UUID i

[2020-03-27 18:50] authorjapps commented on #372
Hello, can you copy-paste the log below please? The console output of the entire scenario and steps log will help!
[code]

[2020-03-27 18:52] authorjapps commented on #371
@gaurav1thakur, Can you please put more details? Follow the guidelines link here [How to log an issue](https://github.com/authorjapps/zerocode/wiki/Guidelines-for-raising-issues)

[2020-03-27 19:03] authorjapps opened #373 "COVID-19 FAQs"
As a user
I want to know some DOs and DONTs in a day to day activities
So that I continue to do my job efficiently

Background
===
In the interest of the _Health and Safety_ of our users and all people, a simple FAQs page is needed to capture the best practices, DOs and DONTs etc.

Things to do
===
- List down the common FAQs
- List some healthy tips do at home e.g. 30min exercise tips
- List some

[2020-03-27 19:31] teajayez commented on #372
2020-03-27 11:16:02,104 [main] INFO  org.jsmart.zerocode.core.runner.ZeroCodeMultiStepsScenarioRunnerImpl -
-------------------------------------------------------------------------
     Executing Scenario Count No. or parameter No. or Row No. | 0 |
-------------------------------------------------------------------------
2020-03-27 11:16:02,673 [main] INFO  org.jsmart.zerocode.core.httpclient.ssl

[2020-03-28 09:48] authorjapps commented on #351
@automatedbegginer , We can have a look and help you. Can you copy-paste the `keycloak_login.Auxiliary #DecodeJWT(...)` code here?
Otherwise you can ping us in [Slack](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ) to discuss in detail.
And requesting to join our [mailing list](h

[2020-03-28 10:03] automatedbegginer commented on #351
@authorjapps

`
public static String DecodeJWT(String jwtToken){
        System.out.println("------------ Decode JWT ------------");
        String[] split_string = jwtToken.split("\\.");
        String base64EncodedHeader = split_string[0];
        String base64EncodedBody = split_string[1];
        String base64EncodedSignature = split_string[2];

        System.out.println("~~~~~~~~~ JWT Header

[2020-04-02 16:37] anishjha93 commented on #371
Hi @gaurav1thakur,
Can you please try running with terminal
 command :  mvn clean test -Dtest={you_test_class_name}

[2020-04-03 06:07] Pravintati opened #374 "How to Calculate Code coverage"
Firstly this is not a issue, it's a query
If we use zerocode test framework in our project, then we are getting 0% coverage with UI based code coverage tools. How we will calculate Code coverage for the projects which are using zerocode as a testing.

[2020-04-03 07:26] nirmalchandra commented on #374
@Pravintati , it depends how you have configured your CC tool. CC tools(e.g. Jacoco or Sonar ) is generally configured against your source main/production code(not the test code).

Basically what it means is : It's not dependent on `which` testing tool you use, but depends on the flexibility of the testing tool and `how` you have configured.

This is not part of the problem as UI just shows you th

[2020-04-04 08:26] Pravintati commented on #374
I have configured jacoco CC tool in local maven. But not getting any code coverage for the test after successful run of test.

[2020-04-05 11:03] aghorpade opened #375 "how to test SOAP XML result data"
I am trying to put a test case where soap service will be invoked and SOAP XML response will be returned back. I took a look on below scenario - to test SOAP XML test
https://github.com/authorjapps/zerocode/wiki/SOAP-method-validation-with-xml-input
I would like to test elements from SOAP response. can you let me know if it is possible?

If yes then how? if no then can you get a feature to test SO

[2020-04-05 11:06] aghorpade commented on #374
@Pravintati  - Jacoco CC tool will provide you code coverage on Unit tests which are in built in your project. Have you built in zerocode framework in your project or running as a separate project?

[2020-04-06 07:52] Pravintati commented on #374
This is my testing code using zerocode

import static org.junit.Assert.*;

import org.jsmart.zerocode.core.domain.JsonTestCase;
import org.jsmart.zerocode.core.runner.ZeroCodeUnitRunner;
import org.junit.Test;
import org.junit.runner.RunWith;

//@TargetEnv("test_get.properties")
@RunWith(ZeroCodeUnitRunner.class)
public class GetFileTest {
	@JsonTestCase("test_get.json")
	@Test
	public void testGE

[2020-04-06 07:53] Pravintati commented on #374
The test are running fine but no code coverage reflecting in jacoco tool

[2020-04-06 12:22] authorjapps commented on #374
Answer to the above question asked by Amit will help us to us to understand the problem better and propose a solution @Pravintati .

Have you joined our [Slack](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ) and [mailing list](https://groups.google.com/forum/#!forum/zerocode-auto

[2020-04-06 12:51] Pravintati commented on #374
Have you joined our Slack and mailing list ?
No

Have you built in zerocode framework in your project or running as a separate project?
Yes. I have included zerocode in pom.xml

[2020-04-06 16:11] authorjapps opened #376 "[Security][Kafka]JKS file by their relative path"
AC1:
As an automation test-engineer
I want to use the security certificates from my resources folder
So that I can produce and consume with security certificates in my test/resources folder

### Earlier messages
From Zerocode-Help Slack:

[code]

More:
[code]

[2020-04-06 16:26] authorjapps commented on #376
Available in 1.3.18

[2020-04-06 16:27] authorjapps commented on #367
Available in 1.3.18

[2020-04-06 18:03] anishjha93 commented on #367
Thanks @authorjapps

[2020-04-07 10:21] authorjapps commented on #367
Hey Anish, can you please update the Wiki Page for this.
Here is the Wiki page link(TODO) :  https://github.com/authorjapps/zerocode/wiki/Reusing-Single-and-Multiple-Step-Files

[2020-04-07 17:35] authorjapps opened #378 "Report to have the method details"
AC1:
As a developer
I want to see the methods failed in my automated tests
So that I can see the granular details in my report

[2020-04-07 17:37] Vishalckc commented on #378
Can I work on this issue?

[2020-04-08 05:55] Pravintati commented on #374
@authorjapps, @aghorpade, @nirmalchandra,

Hey Guys, can anyone please help me to solve the above query.

[2020-04-08 14:01] authorjapps commented on #378
Available in `1.3.18`

[2020-04-08 15:29] ykvichare opened #380 "How to read/load a certificate stored in a JKS (Java key stores) file format, in .NET (C#)"
How to read/load a certificate stored in a JKS (Java key stores) file format, in .NET (C#)

after load JKS file, how to validate certificate in .net C# ?

[2020-04-08 17:42] authorjapps commented on #378
Released: https://github.com/authorjapps/zerocode/releases/tag/zerocode-tdd-parent-1.3.18

[2020-04-08 17:42] #378 closed

[2020-04-08 17:43] #376 closed

[2020-04-08 17:56] authorjapps commented on #375
Yes, it's possible.
It's explained [here (Click this)](https://github.com/authorjapps/zerocode/wiki/SOAP-method-validation-with-xml-input#convert-xml-to-json-and-assert-using-json-path) i.e. in the same Wiki page slightly towards the trail.

[2020-04-09 11:44] authorjapps commented on #380
@ykvichare , Just double checking, is it related to Zerocode?

Can you please add slightly more details? 👍

[2020-04-10 14:37] rafaelbalanquet commented on #373
Hello! My group and I would like to get working on this right away. Let me know if we can be assigned and if there are any more specifics regarding what you're looking for.

[2020-04-10 16:28] authorjapps commented on #373
@rafaelbalanquet , thanks for your interest. You can please continue right away. Also kindly note down your approach here for everyone's benefit, please. Thanks

[2020-04-11 10:16] anues28 commented on #341
looking for the answer as well

[2020-04-11 19:05] macrocks commented on #375
yes, this is what i was looking for. Thanks a lot . we can close this thread. :)

[2020-04-12 06:50] #375 closed

[2020-04-13 17:21] griffinh1 commented on #373
Hi @authorjapps, I am working with @rafaelbalanquet on this issue. I believe the plan would be to gather information from credible sources that fulfill some of the "Things to do" section. Should this be added to the end of the [README.md](https://github.com/authorjapps/zerocode/blob/master/README.md) file or a separate file?

[2020-04-14 14:48] kt0984 commented on #237
Hi @rahul-mali-mpf ,

I am having the exact same problem. I have a topic with several thousands of messages in it. I just want to produce a message, consume that exact message and validate the data returned. Producing works fine. On consumption, I am getting the same error you were getting.
My Kafka is not running in Docker, it is on Amazon's managed portal MSK.

Any help in this regard will be mu

[2020-04-14 15:22] authorjapps commented on #373
Hi @griffinh1 , Thanks for your interest. I am also thinking on the simillar line. Let's put the contents into a separate page and link it from the README file.
I have created a page here for you to add those contents: [COVID19-FAQ](https://github.com/authorjapps/zerocode/wiki/COVID19-FAQ)

You can please add the contents, amend/delete/reorganize the titles to make it useful... 👍

Once done, we ca

[2020-04-16 13:39] griffinh1 commented on #373
@authorjapps I have collected all necessary information for this issue, when I go to push to the zerocode.wiki I am experiencing a  permission error. Do you have any specifics on how I should add to [COVID19-FAQ](https://github.com/authorjapps/zerocode/wiki/COVID19-FAQ)?

[2020-04-16 16:00] authorjapps commented on #373
@griffinh1 , you can try editing the Wiki now after accepting the `collaboration invitation(check your email please)`

[2020-04-16 16:06] griffinh1 commented on #373
I have added the information on the branch called ISS-373-COVID19-FAQ.

[2020-04-16 16:14] authorjapps commented on #373
@griffinh1 , sounds good! Thanks
Can you please add/edit directly to the Wiki and `save` please?

[2020-04-16 17:04] griffinh1 commented on #373
@authorjapps All changes are added. Thank you.

[2020-04-16 21:17] authorjapps commented on #373
Looks Awesome! Great job @griffinh1 ! Thank you!

[2020-04-16 21:17] #373 closed

[2020-04-17 03:11] lukecolpo commented on #195
hi all - forking the repo, hopefully will be back here sooner than later with a PR :)

[2020-04-18 07:14] authorjapps commented on #374
Sorted out via the Slack conversation.

Hi @authorjapps
Thank You for your valuable inputs in discussion. As you said I tried that flow with sample single API project it worked and showing code coverage.

Thanks Pravin! Happy to see the above. 🤗

[2020-04-18 07:14] #374 closed

[2020-04-18 07:25] authorjapps commented on #237
It all works fine now as expected @kt0984 . This has been sorted over the Slack n web-meeting Y'day evening. Thanks for your patience Y'day over the discussion 🤗

Happy testing once again 🐼

[2020-04-18 10:56] authorjapps commented on #372
thanks for the logs @teajayez !
The issue you are facing is `aad43da8-86f0-4b32-9074-093676a18213` repeated? Just double checking...

[2020-04-18 14:41] teajayez commented on #372
Yes, the same UUID is used for all place holders in the JSON file unlike
Random number which generates a new random each time it’s called.

Thanks,

Tom

On Sat, Apr 18, 2020 at 6:56 AM authorjapps <notifications@github.com>
wrote:

--
“Faster, Faster, until the thrill of speed overcomes the fear of death.” -
Hunter S. Thompson

[2020-04-19 21:15] hmellin97 commented on #231
Hello! We are two people who would like to resolve this issue.

[2020-04-21 13:34] Vishalckc opened #381 "Fix URL field missing in the reports"
As a developer
I want to see the URL field in the report
so that I will be able to visualise the test reports efficiently

[2020-04-22 20:03] PaulLowenstrom commented on #231
@authorjapps Me and @hmellin97 would like to give this issue a go

[2020-04-23 07:56] authorjapps commented on #231
Thanks @PaulLowenstrom @hmellin97 for your interest. Please go ahead. 👍
It would be nice if you could share a draft version of this when you are ready.

[2020-04-23 08:06] authorjapps commented on #195
@lukecolpo , thanks for your interest 🙏
Can we have a brief chat about the requirements, ACs etc. That might give you a better understanding of the output that will be useful to the end users(developer as well as testers)!

Are you already in [Slack](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQ

[2020-04-23 08:23] authorjapps commented on #372
Yes, understood. We will fix this soon. It's random, but not for the same scenario. We will make it consistent with `${RANDOM.NUMBER}`.

We will fix it in the following way.

1. `${RANDOM.UUID}` : We will make it random even for the same scenario

1. `${RANDOM.UUID.FIXED}` : We will make it fixed(repeated) for the same scenario

Why?
Scenario 1:
You have a scenario with 10 steps and you create an

[2020-04-23 17:44] Vishalckc commented on #381
I am willing to take up this item

[2020-04-24 19:02] kabarret opened #383 "Make possible to add params on URI and by queryParams simultaneously for Http Requests"
As software engineer I would like to be possible have query parameter on my URI and on queryParams block.

[code]

Today it's no possible, and what happen is an error of bad format url.
like :
`/api/v1/search/persons?lang=Amazing?city=Lon`

[2020-04-24 19:14] kabarret commented on #383
I just code a solution for this, and I gonna open a PR, is little similar at was discussed in [https://github.com/authorjapps/zerocode/issues/148](url).
I made some refactor and use Apache URI Builder to handle with that, and others possibles situations

[2020-04-25 08:09] authorjapps commented on #383
To be available in `1.3.19`

[2020-04-25 10:13] sparrowV commented on #372
@authorjapps  can I work on this issue. Do you have guide to start the project locally?

[2020-04-25 11:16] authorjapps commented on #372
Yes, please. Thanks!
It's [here(how to build)](https://github.com/authorjapps/zerocode/blob/master/BUILDING.md)
and [contribution guidelines](https://github.com/authorjapps/zerocode/blob/master/CONTRIBUTING.md) is here.

[2020-04-25 11:36] sparrowV commented on #372
thanks @authorjapps , can you assign me this issue, how can I mark that Im doing it so that other people dont start doing it?

[2020-04-26 14:48] senyast4745 commented on #363
I think this can help if you run tests in the docker environment and collect and analyze logs with some third-party application.

[2020-04-26 15:21] PaulLowenstrom commented on #231
Hi, here is our first draft. We took inspiration from your motivation wiki. This draft contains the main structure of the video and our interpretation of the task. So if there is anywhere misunderstood you can help correct us. The document also contains some questions where we are unsure about the task.

Do you prefer a video with text or a voice explaining the video?

Here is a link to the docume

[2020-04-28 20:30] hmellin97 commented on #231
https://youtu.be/t-Q4690n2GQ

A short example of how the video could look like.

[2020-04-29 01:29] lukecolpo commented on #195
@authorjapps sure!!! i've been getting up to speed with the code base as well as the new spec, so i think that'd be a great idea. I'll join the slack

[2020-04-29 17:12] sparrowV commented on #372
@teajayez  are you sure that RANDOM.NUMBER brings different values? because when I run one o the tests it brings the same values:
this is src/test/resources/helloworld/hello_world_status_ok_assertions.json file which I changes fro testing purposes:
`{
    "scenarioName": "GIVEN- the GitHub REST end point, WHEN- I invoke GET, THEN- I will receive the 200 status with body",
    "steps": [
        {

[2020-04-29 19:16] teajayez commented on #372
Positive. Running it right now. Each use of ${RANDOM.NUMBER:10} in a single step gives me a new random 10 digit number.

It would be much less useful if it didn’t do that. I have records with multiple unique identifiers.

And thanks again for looking into this.

Tom

[2020-04-30 11:43] authorjapps commented on #372
Yes, above both are current behaviour. See below what we need to fix.

- ${RANDOM.NUMBER} : Currently random per scenario, but not inside a scenario
  - Please bring this behaviour to `${RANDOM.NUMBER.FIXED}`
- ${RANDOM.NUMBER:10} : Random per scenario, also random inside a scenario 👍
  - Please bring this behaviour to `${RANDOM.NUMBER}` too

[2020-04-30 14:23] sparrowV commented on #372
@authorjapps  understood, I fixed all of them. Should I run some tests to make sure that I did not 'break' anything? I will send pull request

[2020-04-30 15:08] authorjapps commented on #372
Sounds great!
You can raise a PR when you are ready... prior to that you can run through the [PR checklist](https://github.com/authorjapps/zerocode/blob/master/.github/pull_request_template.md) to make sure you have covered all the basic aspects.

[2020-05-01 21:47] elizabetht opened #386 "ZeroCodeUnitRunner does not run with JUnit5 Jupiter tests"
Hi there! Followed your https://github.com/authorjapps/hello-kafka-stream-testing example but my project uses JUnit5 which does not seem to run the tests even though I included zerocode-tdd-jupiter module. Let me know if I am missing anything.

I get `No runnable methods` error

[2020-05-02 08:11] authorjapps commented on #372
To be released in `V 1.3.19`

[2020-05-02 08:14] #326 closed

[2020-05-02 08:15] #325 closed

[2020-05-02 08:24] authorjapps commented on #339
To be released in `V1.3.9`

[2020-05-02 08:44] #339 closed

[2020-05-03 06:55] #346 closed

[2020-05-03 06:55] authorjapps commented on #346
To be released with `V1.3.19`

[2020-05-04 13:27] sparrowV commented on #331
@automatedbegginer  I think when you use `x-www-form-urlencoded` the body is automatically encoded as in case of url. maybe try `application/json` ?
@authorjapps  is this issue still relevant?

[2020-05-04 15:07] kt09 commented on #330
**Use case @authorjapps :**
Send a message to a Kafka Topic on a particular partition and Header. For enterprise applications, this feature will provide the capability to test the code behind/micro service listening to a particular header. This can look something similar to http implementation where ZeroCode has the feature of specifying header. Example produce JSON can look like:

[code]

[2020-05-06 07:14] authorjapps opened #389 "Retry report showing wrong scenario status if finally the step has passed"
From Slack:
Cyril EDME:
Hi,
i would like some feedback on a use case before post any ticket.
Did someone created a scenario with a first step that trigger an asynchrone treatment then assert it with a second step (sync, by REST API using the retry policy) ?
In the end it works, my second step first attempt fail but the second succeed, perfect. But in the report it's recorded as fail (even if the t

[2020-05-06 12:05] #367 closed

[2020-05-06 12:09] #383 closed

[2020-05-06 18:30] sparrowV commented on #389
@authorjapps  The scenario should be marked as PASSED if one of the retries succeed , not just last one right?

In the report scenario marked as PASSED do you mean the  marking on the picture bellow?
![Screenshot from 2020-05-06 22-26-50](https://user-images.githubusercontent.com/29176362/81214600-250d4500-8fe9-11ea-9c71-15e975a07708.png)

[2020-05-06 18:52] authorjapps commented on #389
@sparrowV , I have answered them inline, hope it is clear.

[2020-05-06 19:13] sparrowV commented on #389
@authorjapps  yeah, I think its clear. I will assign it to myself, if you are ok with it

[2020-05-08 14:01] kt09 commented on #330
@authorjapps - just touching base on this. Is there anything else I can provide here? When can I expect this feature to be available? Please advise.

[2020-05-09 23:41] kt09 commented on #330
@authorjapps Please review and approve the PR
https://github.com/authorjapps/zerocode/pull/391

[2020-05-10 07:11] authorjapps opened #392 "[KAFKA]Send record to a particular partition of a topic"
AC:
===
As a developer or SDET
I want to produce a record to a particular partition of a desired Kafka topic
So that I consume and verify a record from that partition easily.

e.g.
[code]

[2020-05-11 13:10] Vishalckc opened #393 "Zerocode_Samurai_Logo | Ignore"

[2020-05-11 13:30] #393 closed

[2020-05-11 14:23] authorjapps opened #394 "[Wiki][Doc] Write the Wiki Page for Automated testing for File upload validation"
As a developer or SDET
I want a help page or an use manual on `Automated File Upload Testing` linked from the Developer's Guide
So that I can verify my automation scenarios related to the file upload business case.

AC : Accesptance Criteria

AC1:
===
- Fill all the sections in this [Wiki page(ask for edit permission)](https://github.com/authorjapps/zerocode/wiki/File-Upload-Using-Http-API-Automat

[2020-05-14 09:14] authorjapps commented on #389
To be available in `V 1.3.20`

[2020-05-16 10:16] authorjapps commented on #330
To be available in `V 1.3.20`

[2020-05-16 15:07] kt09 commented on #330
@authorjapps when will v 1.3.20 be available

[2020-05-17 07:49] authorjapps commented on #330
@kt09 , Please check our release frequency [details(click me)](https://github.com/authorjapps/zerocode#quick-links) on the readme page.
Next one is around 21st May... Not too far from now.

But it would be great if you could take care of all the ACs prior to that. `AC2` seems like still pending. The ticket is with you currently and hoping it would be done asap if this is urgent!

Give us a shout h

[2020-05-18 10:17] jbiju94 opened #396 "[Kafka] End-to-End Testing"
My current scenario is -

1. Using zerocode test framework I publish a message to a topic.
2. I have extended the ZeroCodeRunner to start my consumer also, which should ideally take the message from the topic, do some transformation, and publish it into a different topic.
3. I have added a zerocode step for consumption which checks the message is right or not.

So in total my json test case file h

[2020-05-18 10:58] authorjapps commented on #396
@jbiju94 , just to clarify:
e.g.
1. **Step-1** : Produce `Hello` to `order-topic`
2. The consumer via ZerocodeExRunner picks "Hello", then transforms to `Hello There`
    - Then publishes to `order-new-topic`
3. **Step-2**: Consume from `order-new-topic` and asserts `Hello There`

Here, In the **Step-2** do you know the partition number to consume from?
if so what's the `partition-number`?

Then i

[2020-05-18 12:03] authorjapps commented on #220
Hey @tghani93, Hope you are doing great mate! We are looking for some feedback on the Kafka usecases and improvements etc? Would you be able to help us 🙏 ?

Appreciate if you could join [Zerocode Slack(Click)](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ) for a brief chat.

[2020-05-19 16:18] teajayez commented on #372
Hey folks! I just got the latest and it does what I need it to now: each use of ${RANDOM.UUID} gives me a random UUID within the scenario. Thanks so much for adding this!!! will save me lots of time on the testing I need to do. Love your product!

[2020-05-19 16:49] sparrowV commented on #372
@teajayez  no problem , thanks for using the product.

[2020-05-22 11:00] #372 closed

[2020-05-22 11:01] #389 closed

[2020-05-22 11:02] #330 closed

[2020-05-22 11:02] #396 closed

[2020-05-22 11:45] sourabhabad opened #399 "Can we parametrize steps"
Example:

Suppose this is steps file of GET api, with path param as name
`{
      "id": "get_contact_by_steps",
      "stepFile": "${JSON.FILE:.get_contact_by_steps.json}"
    }`

i want to parameterize steps so that we get details of get api using parameterized name(key)

[2020-05-22 15:06] authorjapps commented on #399
Hello @sourabhabad , the issue description is very unclear in terms of what you want to achieve.

Can you put more light to the description by adding more details please ?

[2020-05-27 23:23] kt09 commented on #330
@authorjapps apologies for the late response and sorry for not getting to AC2 before 21st.
I will look into the AC2 and will reach out once I'm on it. And yes it is important! :)
Many thanks!

[2020-05-28 18:50] sourabhabad commented on #399
Hi @authorjapps first thanks for quick response,

Requirement: We have two api one post to change status and other get api to check status, we have create steps for each of the state but for all the state only one state is change(like: created, processed, .. ) but we need to create for each steps different steps.json file while increase the redundant file.

[2020-06-08 10:44] donfiguerres opened #400 "Intermittent MismatchedInputException when load testing"
I'm getting an intermittent MismatchedInputException when running with ZeroCodeLoadRunner.

    2020-06-08 17:59:22,127 [pool-2-thread-3] INFO org.jsmart.zerocode.core.engine.listener.ZeroCodeTestReportListener - ### ZeroCode: Test run completed for this runner. Generating test reports and charts. More help and examples are available at the README in GitHub
    com.fasterxml.jackson.databind.exc.M

[2020-06-09 09:25] donfiguerres commented on #400
I did an quick debugging and I'm wondering if the call to generateChartsAndReports(); can be delayed until the LoadTest is complete. I'm not really sure about this but it seems the problem occurs when too many threads are reading the json files in target/zerocode-test-reports (at least that's what I observe in my environment).

[2020-06-09 09:49] srinivasa78 opened #401 "ClassCastException Thrown when referring json file in request body with content type "multipart/form-data""
**Issue**:

With `content-type:"multipart/form-data"` getting `java.lang.ClassCastException` when referring `json` file for additional payload in Request Body apart from `"files": [
            "file:media/test.wav"
          ]`

**Request step**:
[code]

**metadata.json**

[code]

**standard_headers_media.json**:

[code]

**Error:**
[code]

**Stactrace**:

[code]

[2020-06-09 14:36] authorjapps commented on #400
Hi,
The below seems to be a moderate load, but that depends on which system it is running.
[code]

Trying to figure out...

What kind of machine did you run this on?
CPU- how many cores?
RAM- how many GB
payload size? approximate KB ?

Did you investigate the CSV file it generates in the target folder?
That gives very accurate results from which you can derive the throughput easily..

[2020-06-09 14:42] authorjapps commented on #401
@srinivasa78 , just checking...
have you tried this(below replacing the external content) in a manual testing tool or a REST client like Postman?
[code]

What does the API server responds with?

[2020-06-09 16:48] hmellin97 commented on #231
https://www.youtube.com/watch?v=J4MbfB17JjU&feature=youtu.be

Here is the final result of our work. Enjoy!

[2020-06-10 17:51] manaseeamale opened #403 "ZerocodeLoadRunner is not working with PowermockRunner"
Hi team,
Along with ZerocodeLoadRunner powermockito not able to mock anything.
Could you please check this issue.

Thanks in advance!

[2020-06-11 08:30] authorjapps commented on #330
Hello @kt09 , Just checking... did you get chance to complete the AC2?

[2020-06-11 21:59] authorjapps commented on #231
Thanks for your hard work. I have seen the content you have nicely captured into the Google Slides fed into the YouTube.
Appreciate the effort and creativity!

[2020-06-11 21:59] #231 closed

[2020-06-12 08:21] authorjapps opened #405 "Load testing control loglevel from CLI"
As a SDET
I want to control the logging level to `INFO or WARN or ERROR etc` from CLI
So that I can choose to see less verbose output in console or logfile during the load/stress testing

e.g.

or

or

[2020-06-12 08:24] authorjapps commented on #405
Avaialable in `1.3.21`

[2020-06-12 08:24] #405 closed

[2020-06-12 20:37] harshasridhar commented on #394
@authorjapps I'm a newbie, can I work on this?

[2020-06-13 10:04] authorjapps commented on #394
@harshasridhar, Yes please. Thank for this.

[2020-06-13 13:08] harshasridhar commented on #394
@authorjapps please provide me the edit access to wiki page.

[2020-06-15 19:38] authorjapps commented on #394
Done.

[2020-06-16 07:32] SamSuffit opened #407 "Add long to FieldTypeConversionUtils"
As Developer or SDET
I want the `(long)` casting to be available in the DSL
So that I assert the expected long values

[2020-06-17 07:06] harshasridhar commented on #394
Should I fork the repo and raise a PR?
Committing to the main repo is denied
This is the error message
[code]

[2020-06-17 07:55] authorjapps commented on #394
@harshasridhar , you need to accept the below invitation and then directly can edit the page.
https://github.com/authorjapps/zerocode/invitations

No.

[2020-06-17 08:20] harshasridhar commented on #394
Have updated the documentation, please check it and let me know if any changes are to be made?
Will add test cases soon,  please let me know where to add them.

[2020-06-17 10:46] authorjapps commented on #407
Available in `v 1.3.23` onwards when released.

[2020-06-18 09:38] authorjapps commented on #394
This is great! Looks awesome. Thank you 🙏

Ok.
In the spring-boot HelloWorld project there are already working test-scenarios as examples. Can you please refer them in the `Conclusion` section? That will be useful for everyone, anyone can clone and run it locally 👍

[2020-06-18 15:11] srinivasa78 commented on #401
@authorjapps My apologies for responding late.
Getting `201 0K` response.
Please let me know if it's need to be fixed or something. I want to contribute to this project.
And though I got experience this would be my first open source contribution. (I know I know I am too late :) )

[2020-06-18 19:08] authorjapps opened #409 "Parameterized csvSource with body payload from reusable external JSON file"
From Slack:
@Dorian

Hello,
is it possible to use csv data in a reused son?

Because the ${0} like variables in the file aren't getting swapped with the values from the csv.

[code]

This looks like anew feature request which needs to be implemented.

Please recheck the behavior before implementing it.

Current:
Inline CSV data in the `"parameterized"` block work fine

Desired:
CSV data from exter

[2020-06-18 19:44] dhavalshah007 commented on #195
@lukecolpo any positive update on this issue or Should I ask @authorjapps to assign this issue to me ?

[2020-06-18 20:05] authorjapps opened #410 "Setting test category in the test"
Background:
===

From Slack:
Raised by @Julian

Hi guys, really nice framework. Would like to know how I can change the test category. The default is:
[code]

AC1
===
As an SDET or Dev
I want to set the test category at test level
So that I can get filter these tests in the HTML report after the test run

Things to do:
- e.g. Allow `#category1 #category2` in the test scenario free text
- Follow th

[2020-06-20 10:41] authorjapps commented on #401
Thanks @srinivasa78 for your ineterest in contribution. Yes, you can try to fix this.

The code is here needs fix:

Please raise a PR once it's stable.

Do you know how to fork etc?
Otherwise, here are the guidelines - [CONTRIBUTING.md(Click)](https://github.com/authorjapps/zerocode/blob/master/CONTRIBUTING.md)

Also please join [Slack(click to join)](https://join.slack.com/t/zerocode-workspace/sh

[2020-06-20 10:44] authorjapps commented on #403
Is it possible to switch to Wiremock?

[2020-06-20 10:47] authorjapps commented on #403
@manaseeamale , can you throw some more light on what is the exact problem you encountered?

Some more logs etc will help!

See the [Guidelines-for-raising-issues](https://github.com/authorjapps/zerocode/wiki/Guidelines-for-raising-issues) to capture more details.

[2020-06-20 12:08] harshasridhar commented on #394
Can you please give me the details of the test cases, I did clone the project and tried to find it, but couldn't find it.

[2020-06-20 12:11] harshasridhar commented on #410
@authorjapps, can I work on it?
Need some guidance though, as I'm relatively new to the code base.

[2020-06-22 06:58] authorjapps commented on #394
I have updated it now ✌️ . No worries. Thanks!

[2020-06-22 06:58] #394 closed

[2020-06-22 07:02] authorjapps commented on #392
This has been already supported since early happy days!
Please visit an example [here](https://github.com/authorjapps/zerocode/blob/master/kafka-testing/src/test/resources/kafka/produce/test_kafka_produce_to_partition.json)

[2020-06-22 07:03] #392 closed

[2020-06-22 07:05] authorjapps commented on #410
@harshasridhar , please go ahead. Thanks!

Please ping us in Slack in case you need any help ✌️

[2020-06-30 11:37] FeiFelixPeng opened #412 "org.junit.jupiter.api.Test support"
Hello, Thanks for the amazing framework.
I'm rookie for java and zerocode.

And i found currently, looks like only org.junit.Test(Junit4) can work with @Scenario("xx/xx/xx.json") as below for contract test:
 @Test
 @Scenario("xx/xx/xx.json")

and will get the following error if we replace "org.junit.Test"(junit4) as "org.junit.jupiter.api.Test"(junit5)
==================clip===================
org

[2020-06-30 15:53] authorjapps commented on #412
Hi Rookie @FeiFelixPeng,
You are right if you switch, you get the above error.
Just trying to understand, why do you have to switch? Any use case which is compelling to switch?

Note:

Which means Junit5 JUnit4 tests can coexist without any problems.

Here are some pointers from the official guide:
- [Migrating from JUnit 4](https://junit.org/junit5/docs/current/user-guide/#migrating-from-junit4)

[2020-07-05 16:49] ykvichare opened #413 "System.Net.WebException: The request was aborted: Could not create SSL/TLS secure channel in C#"
I have written below code to make https connectivity between client and server in C#.

Below code is working fine with win 10 but facing issue with Win 2019.

             ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;
            ServicePointManager.ServerCertificateValidationCallback += (a, b, c, d) => { return true; };
            X509Certificate2 clientCertificate = new X50

[2020-07-05 22:13] authorjapps commented on #413
Related to #380

@ykvichare just wondering, when exactly you encounter this issue?

You also raised 380 issue earlier, but did not add much details to the description ?

Are you writing an end to end scenario involving Kafka and Http?
or
Just HTTP with the X509 cert setup?

[2020-07-06 08:29] ykvichare commented on #413
issue 380 resolved ...
using keyfile.p12 (X509Certificate2 ) certificate for authentication for HTTPS connection.

Above code is working fine with windows 10 machine but same code is not working windows server 2019.
Issue : The request was aborted: Could not create SSL/TLS secure channel .

Is any additional setting is required on Win 2019 ?

Thanks,
Yuvraj

[2020-07-06 08:30] authorjapps commented on #380
Already resolved.
https://github.com/authorjapps/zerocode/issues/413#issuecomment-654093322

[2020-07-06 08:30] #380 closed

[2020-07-06 12:08] ykvichare commented on #413
I am using keyfile.p12 (X509Certificate2 ) certificate for authentication for making HTTPS connection.

Above code is working fine with windows 10 machine but same code is not working windows server 2019.
Issue : The request was aborted: Could not create SSL/TLS secure channel .

Is any additional setting is required on Win 2019 ?

[2020-07-07 09:02] pradeeppg89 commented on #409
I would like to help but  am totally new to this project. Can you please elaborate more on this?

[2020-07-08 11:32] authorjapps commented on #409
@pradeeppg89 , thanks for your interest in contributing.
Current:
Inline CSV data in the `"parameterized"` block work fine

Desired:
CSV data from external source should work in similar fashion.

[2020-07-09 00:55] donfiguerres commented on #400
Sorry, it took me a long time to respond. I had to prioritize other tasks.
It discovered that this is caused by VSCode.
It's probably trying to access the newly generated CSV files while zero-code is running. I was running the tests via the Java extension of VSCode and when I decided to close VSCode and run the tests via command line, the issue disappeared. I'm closing this issue now. Thanks!

[2020-07-09 00:55] #400 closed

[2020-07-09 15:22] authorjapps commented on #410
Available in v `1.3.23`

[2020-07-09 16:05] donfiguerres commented on #400
Another update... I got a few errors again today even after running with VSCode closed. I won't reopen this though since I'm pretty sure now that the problem has something to do with my environment.

[2020-07-14 13:50] authorjapps commented on #413
Just wondering @ykvichare , are you using a custom HTTP client with Zerocode to deal with the SSL?

[2020-07-14 16:00] #410 closed

[2020-07-14 16:00] #407 closed

[2020-07-16 06:29] authorjapps commented on #409
@pradeeppg89, are you still looking into this?

[2020-07-17 10:35] authorjapps commented on #58
I think it's worth checking if GitHub Actions provides any mechanism, then we can switch to that.
Updated the subject.

[2020-07-17 10:57] Sauhardstark commented on #409
Hi @authorjapps
I'm trying to understand the above issue and I understood that something like the below might be required.

[code]

Now the `csvFileSource` can also be a list. I'm more or less sure that this is wrong. Could you please correct my understanding here.

Also I'm a little unclear on the reused son part. Can we please have a chat regarding this on Slack

[2020-07-17 11:09] authorjapps commented on #409
@Sauhardstark
I think this is something I believe, should be reproduced as explained in the issue description.

I find your approach more simpler and elegant.
[code]

where `csv_data.json` is:
[code]

Can you check if the params like "${0}" gets resolved automatically?

Depending on that we should proceed for the fix.

_This should be categorized under "Issues" rather than "Feature Requests"_

[2020-07-21 10:31] milgner opened #415 "JUnit5 compatibility with other extensions"
I'm running a server based on the [Vert.x](vertx.io) framework. To support testing of asynchronous code, they provide a JUnit5 extension which injects an instance of Vertx and a VertxTestContext. In order for a test to complete, one has to call `complete()` or `fail(Throwable)` on the test context or use one of the helper methods that invoke them.

[code]

When trying to compose a test like this w

[2020-07-22 21:56] authorjapps commented on #415
@milgner , we will have a look soon.
The error seems to be JUnit5 Jupiter engine is unable to match the method or matching the method by '' no params, hence unable to find and execute the actual method.

I am assuming you are running the tests via `@ExtendWith(VertxExtension.class)` ?

[2020-07-22 22:03] milgner commented on #415
@authorjapps thank you for the quick reply!

Yes, indeed. The tests run fine by themselves but in the context of `@TestMapping` they are not considered for execution anymore.

[2020-07-24 11:40] crauadams opened #416 "Assertion fail"
When I run the test, I got this response

java.lang.RuntimeException: Assertion failed for :-

  [Get property by closed date and city]
        |
        |
        +---Step --> [get_property_by_closed_date_and_city]

  Failures:
  ---------
  Assertion path '$.body[0].id' with actual value '1' did not match the expected value '1'

Scenario .json file
[code]

[2020-07-27 19:30] authorjapps commented on #416
@crauadams , can you paste here your actual response?
You can get this from the console or from the log file.
Only the payload `body` with `id` field should do.

[2020-07-29 09:01] metrospiegel opened #418 "ramp.up.period.in.seconds=0 does not work"
I guess the log says it all. The last part repeats for inifinity. Nothing gets executed.
With ramp.up.period.in.seconds=1 and a large number users he gets quickly hickups till he chokes kompletely thill he is also sending nearly nothing out. We use a custom HTTP conection, bit this should not matter i guess?

2020-07-29 10:55:38,405 [main] WARN org.jsmart.zerocode.parallel.ExecutorServiceRunner -

[2020-07-29 09:14] authorjapps commented on #418
@metrospiegel , can you try this... clone this working samples and run locally? Then compare where things are going wrong.
Link: [Try AT Home Performance Tests - Working Examples](https://github.com/authorjapps/performance-tests)

[2020-07-29 09:17] authorjapps commented on #331
Thanks @sparrowV .
@automatedbegginer, can you reply ?

[2020-07-29 09:37] automatedbegginer commented on #331
Hi, i needed to use x-www-form-urlencoded to simulate messages between two apps. They send eachother x-www-form-urlencoded data, not json. I dont know any more details, since the issue is few months old :)

[2020-07-29 14:58] crauadams commented on #416
[code]

[2020-07-29 16:11] authorjapps commented on #416
Thanks for the response details.

### Solution:

Update to

### Why ?
As your actual response is `"id" : 4690,` but you are asserting as `"id" : "4690",` , that's causing the problem. And Zerocode is saying that **string** "4690" in not equal to **integer** 4690. _The error message could be enhanced, I agree._

Give it a try and let us know!

[2020-07-29 18:36] crauadams commented on #416
Thanks for your response, I'm still getting the same error.
 '$.body[0].id' with actual value '4690' did not match the expected value **'(int)4690'**

[2020-07-29 22:12] authorjapps commented on #416
Which version of Zerocode you are using?
Can you update to version `1.3.23` and try?

[2020-07-29 23:07] crauadams commented on #416
I was using 1.2.11, now it works! Thank you so much!

[2020-07-30 00:30] #416 closed

[2020-07-30 00:30] #413 closed

[2020-07-30 21:29] authorjapps commented on #401
@srinivasa78, did you have a chance to look at it?

[2020-07-31 13:56] aghorpade opened #419 "[Question] - select api testing vs regression testing"
We have below requirement and would like to know if it can be satisfied if we go for zerocode

we have almost mulesoft api's and we develope/change api code at indivisual api level. When we change code for one api then that API level test cases must be run when code gets deployed on dev environment.
Once indivisual api development is done, we need to push code into SIT, so once all API's code push

[2020-08-01 08:26] authorjapps commented on #419
@aghorpade , it's very much achievable and it's very easy. Infact that's an efficient CI pipeline design(one of the best practices).

1) Before getting into "how", can you shed some light how your micro-services are set up, meaning... How your APIs are created... is it just by a single Mule project/repo or multiple Mule projects across more than one team ?

2) Are you also planning to hit the Mule

[2020-08-01 09:46] #371 closed

[2020-08-03 08:08] metrospiegel commented on #418
We checked with: Try AT Home Performance Tests - Working Examples

For reproduction it is sufficent to run the LoadGetTest and chane the load_generation.properties as follows:
number.of.threads=300
ramp.up.period.in.seconds=0
loop.count=1000000

He will do some calls in the beginning but in the end will get stuck in repeated:
[0;39m2020-08-03 09:59:46,912 [32m[main][0;39m [34mINFO[0;39m org.j

[2020-08-03 09:43] authorjapps commented on #418
@metrospiegel , we are trying to understand the issue.
the following(1) is an issue,
1)
[code]

but, the below(2) works just fine?
2)
[code]

Note:
`No.2` above has less virtual users and fewer loop count than `No.1`

***

What is the system(laptop or PC?) you use to generate the load? Precisely, can you put some more details e.g.
+ Number of cores?
+ RAM ?
+ OS ?
+ Is this machine solely used for

[2020-08-03 10:43] metrospiegel commented on #418
1) is an issue; As described he is not doing anything in our test. In try at home he makes maybe 2 requests an than he is waiting and doing nothing.
2) no issue.

However we need large input with maximum stress. Server is not the issue (in my opinion).

On the server:  32 cores; 64GB ram; Windows: solely used for load generation (ram and CPU not fully utelized during run at 200 treads ~40%cpu ram

[2020-08-03 10:48] metrospiegel commented on #418
Sorry for the wrong initial post. It was: numberOfThreads : 200 not numberOfThreads : 6

Importand also to notice that agound 30min in config

number.of.threads=200
ramp.up.period.in.seconds=0
loop.count=1000000

maybe 5 threads are left actively inserting?

In our test he first does make around 100 to 200 requests a sectond but that quickly declines.

[2020-08-03 11:52] authorjapps commented on #418
Thanks for the details of the client specs, That's important for now. Server specs are not really of a concern here as of now, but we will address that in a bit(for now I am assuming yours is a single machine/server!)

Yes, That's expected and that's exactly the issue. The ramping-up of threads in your case, is limited by the laptop which is a low config machine for your desired load requirement.

[2020-08-03 12:15] metrospiegel commented on #418
It runs 1:1 virtualized. You can assume one machine without any config probems.

The Laptop i used only for the try at home stuff for reproduction. At the time i used it only for laod. What i am concerned about is the server.

Yes: it bounces 2 times at 90 to 100 and goes to 40

0 load on the CPUs

20kb

Ram usege is 11GB so no problem there.

The thing for me is, he seems to skip request. It is a

[2020-08-03 12:27] metrospiegel commented on #418
Ich checked my testcases on the server and ensured 0 payload on the server and never more tane 40% cpu usage during execution.
the result is:
number.of.threads=10
ramp.up.period.in.seconds=0
loop.count=2000000
-> nothing gests send

number.of.threads=2
ramp.up.period.in.seconds=0
loop.count=2000000
-> nothing gets send

number.of.threads=2
ramp.up.period.in.seconds=1
loop.count=2000000
-> working

[2020-08-03 19:22] crauadams commented on #416
Hi @authorjapps where can I found a document with all data type that I can cast ? Because I'm with a BigDecimal value now with the same error and when the value can be null too, eg:

with actual value 'null' did not match the expected value:
$ONE.OF:[${$.get_property_by_closed_date_and_city.response.body[0].propertySubType}, $IS.NULL]

with actual value '45000.0' did not match the expected value '

[2020-08-04 07:02] metrospiegel commented on #418
In all cases the number of requests is dwindeling down ower time. Making 2000000 nearly unreachable (which it does not neet to rach anyways).
Since i don't have a spechific measurment scenario and i am not concerned about measurment accuracy is there a prossebility do build in a no synchronization mode to avoid:

2020-08-04 08:51:07,692 [main] INFO org.jsmart.zerocode.parallel.ExecutorServiceRunne

[2020-08-04 12:50] authorjapps commented on #416
Hello @crauadams ,
If you are unsure about the data types, then better to use the below, which should cover your usecase:

`$EQ.` does a number value comparison irrespective of integer, float,long, BigDecimal etc...
Which passes for:
[code]

Have you searched the Wiki index ? If this is missing we will spin up a page soon(_sorry if this is the case, we will get this sorted soon_).

Also here are l

[2020-08-05 09:39] authorjapps opened #420 "[Doc][Wiki]Assertion for various data types"
As a SDET
I want a documentation or Wiki page where the expected vs actual field matching is explained
So that I can use these in my test automation to test the server response payloads and headers
e.g. `id=123` , `id="123"`, `isValid=true`, `isValid="true"` etc

AC1:
===
Cover the following currently supported mechanisms with examples
+ $EQ
+ (int)
+ (float) or (decimal)
+ (boolean)
+ more if ava

[2020-08-05 09:50] authorjapps commented on #416
A ticket has been raised now to solve this.  ✌️
https://github.com/authorjapps/zerocode/issues/420

[2020-08-05 10:02] crauadams commented on #416
Yes, I search on Wiki's page but I didn't found anything about check the field types, only the values.

About the $EQ. I would like to test the structure of response not they values, to make sure that a data type change doesn't broken the UI.

[2020-08-08 20:27] aghorpade commented on #419
@authorjapps  - please find below answers

[2020-08-19 15:18] ddingel commented on #237
Hi @kt0984 @authorjapps,

We are facing the same issue on AWS MSK and are not able to consume messages from zerocode, but other consumers work fine. Setup is with SSL if that matters. Local with kafka in a docker container it just works. Can you share your solution to this.

Thanks,
Dominik

[2020-08-19 20:06] ddingel commented on #237
Answering myself: so we managed to fix this by increasing the pollingTime to 2000 for that consume step.

I am not sure why this solves the problem, my wild guess would be something like the consumer looking up the broker for that partition, registering and such exceeds the 500ms so that we end before we actually receive anything.

[2020-08-22 10:56] ddingel opened #421 "KafkaReceiver does not account for consumer group joining"
Description
===
Following up the discussions in this issue [Kafka-produce and consume JSON message, Assert fails for 'consume' operation
](https://github.com/authorjapps/zerocode/issues/237#issuecomment-678478344) KafkaReceiver currently does not track if the consumer group joining has finished.

## The Problem Statement
If the consumer group join takes longer than `maxNoOfRetryPollsOrTimeouts * p

[2020-08-25 06:56] authorjapps commented on #421
Available in `1.3.24`. Yet to release.

[2020-09-01 02:13] respondsid opened #423 "Protobuff support in Kafka automated testing"
As a SDET
I want to produce a Google Protobuff Message to a Kafka topic automatically as a Zerocode step
So that I can continue my automation journey involving proto messages

As a SDET
I want to consume a Google Protobuff Message from a Kafka topic automatically as a Zerocode step
So that I can continue my automation journey involving proto messages

As a SDET
I want to produce/consume a Google P

[2020-09-01 02:20] respondsid commented on #423
Protobuf messages cannot work with generic types, allow custom types to be passed in step definition and conver it into JSON from processing stand point within zerocode

[2020-09-01 10:48] Yukti-Gupta-89 opened #425 "Unable to consume the message from Kafka though message is present in the topic"
we have a service A which produces the message for Kafka and another service B which consumes and processes the messages. Using zerocode, We are able to load the messages in Kafka and other service is also able to process the same message. But when I try to consumethose message using Zerocode, it is giving me size 0. Please find the logs below:

[0;39m2020-09-01 16:00:50,120 [32m[main][0;39m [3

[2020-09-01 11:25] nirmalchandra commented on #425
@Yukti-Gupta-89 , can you paste here the following  also from your Kafka Broker/Server properties?
You can get this from `@TargetEnv("...kafka_brokers.properties")`
[code]

Also in the meantime can you retry with slightly increasing these values e.g.
[code]
Btw, where you are running these tests? Jenkins/CI or in your local laptop?

[2020-09-01 12:30] Yukti-Gupta-89 commented on #425
Hello,

I have created on eproperties file which mentions the API endpoint and Kafka bootstrap servers.

**web-api.properties**
restful.application.endpoint.host=<IP>
restful.application.endpoint.port=80
kafka.bootstrap.servers=<3 IPs. Not mentioned due to security reasons>
kafka.producer.properties=resources/kafka_producer.properties
kafka.consumer.properties=resources/kafka_consumer.properties

[2020-09-01 20:57] nirmalchandra commented on #425
That's fine.

Which version of Zerocode are you using?

Can you paste here your produce/load step as well as the test-run log too? Just to double check the partition and offset are correct.

[2020-09-01 22:16] authorjapps opened #426 "Protobuff support in Kafka automated testing"
As a SDET
I want to produce a Google Protobuff Message to a Kafka topic automatically as a Zerocode step
So that I can continue my automation journey involving proto messages

As a SDET
I want to consume a Google Protobuff Message from a Kafka topic automatically as a Zerocode step
So that I can continue my automation journey involving proto messages

As a SDET
I want to produce/consume a Google P

[2020-09-01 22:21] #426 closed

[2020-09-01 22:21] authorjapps commented on #423
Linked to https://github.com/authorjapps/zerocode/issues/426

[2020-09-01 22:53] authorjapps commented on #423
Wiki Page todo:
https://github.com/authorjapps/zerocode/wiki/Automating-Kafka-Test-Scenarios-With-Protobuff-Messages

@respondsid

[2020-09-02 08:55] Yukti-Gupta-89 commented on #425
Zerocode JAR version - zerocode-tdd-1.3.23.jar

My application's API call is loading kafka. I have pasted all the logs above .

[2020-09-02 09:38] nirmalchandra commented on #425
`PRODUCE` logs are missing I think. It has only `CONSUME` logs.

[2020-09-03 18:06] authorjapps commented on #426
Duplicate of https://github.com/authorjapps/zerocode/issues/423

[2020-09-03 18:08] authorjapps commented on #423
Available in `1.3.24`. Yet to release(In progress).

Todo(pending)
- [Wiki](https://github.com/authorjapps/zerocode/wiki/Automating-Kafka-Test-Scenarios-With-Protobuff-Messages)
- Release to maven central

[2020-09-04 14:15] harshasridhar commented on #420
Is this issue still open?
Can I work on it?

[2020-09-04 14:50] authorjapps commented on #420
@harshasridhar , yep, please go ahead 👍

[2020-09-06 02:32] anuranjit commented on #415
@authorjapps Any workaround for this ?

[2020-09-06 12:36] authorjapps commented on #421
Released.
See [Release Notes](https://github.com/authorjapps/zerocode/releases/tag/zerocode-tdd-parent-1.3.24) here.

[2020-09-06 12:36] #421 closed

[2020-09-06 12:36] authorjapps commented on #423
Released.
See [Release Notes](https://github.com/authorjapps/zerocode/releases/tag/zerocode-tdd-parent-1.3.24) here.

[2020-09-06 12:36] #423 closed

[2020-09-06 12:37] authorjapps commented on #425
@Yukti-Gupta-89 , can you try with the latest release?

Maven:
[code]

Gradle:
[code]

[2020-09-10 20:13] authorjapps opened #429 "Support custom asserter in API automation for project specific validations"
Via Zoom:

AC1
As an SDET
I want to validate a field or fields of an actual response using my own flavored assertion mechanism
So that I can cover my project-specific validation requirements during the test automation

AC2
+ A Wiki page explaining the usage

@respondsid

[2020-09-18 16:38] Kloe2257 commented on #326
Hello @ragcrix ,
I tried again with the new release 1.3.24 and JUnit 4.11 (i am also using mockito and assertJ) :
`<dependency>
			<groupId>org.jsmart</groupId>
			<artifactId>zerocode-tdd</artifactId>
			<version>1.3.24</version>
			<scope>test</scope>
		</dependency>
<dependency>
			<groupId>org.mockito</groupId>
			<artifactId>mockito-core</artifactId>
			<version>2.28.2</version>
			<scope>tes

[2020-09-22 19:04] authorjapps opened #432 "[KAFKA]Consume the latest or the n latest messages from a Kafka partition"
Received from Slack:

AC1:
As an SDET
I want to consume the message from the latest offset of a partition from a Topic
So that I can deterministically assert the outcome of my produced message

AC2:
Write a Wiki page [documentation](https://knowledge.zerocode.io/en/knowledge/consume-the-latest-message-or-n-latest-messages) for this.

@kt09

SDET=Software Dev Engineer in Test

Explanation
===

###

[2020-09-25 10:39] Kloe2257 commented on #326
Ok, I finally find out that minimum Junit version to be used is 4.12 (where isIgnored method was added to BlockJUnit4ClassRunner).
**ZeroCode is not compatible with Junit 4.11.**
Maybe this should be documented somewhere.

Regards, Kloe.

[2020-09-25 10:56] authorjapps commented on #326
Updated:
[Minimum System Requirements](https://github.com/authorjapps/zerocode/wiki/Getting-Started#minimum-system-requirements)

[2020-09-26 08:35] ankita2210 opened #433 "Typo in README.md"
In the Introduction section :
Response:
[code]
All the validators described in the README.md have written the value of  type field as  **Premium Visa** instead of  **Premium High Value** .

Kindly allow me to fix it by assigning this issue to me.

[2020-09-26 09:47] dasabhishek0790 commented on #401
Forked the repo, started working on this. Will raise PR when build is stable.

[2020-09-27 18:47] dasabhishek0790 commented on #401
@authorjapps  Raised a PR, please let me know if I need to add this specific scenario in the test cases for HTTP.
Check https://github.com/authorjapps/zerocode/pull/435

[2020-09-29 16:43] kt09 opened #436 "[KAFKA]Cannot inject ZeroCode variables into Validators"
Description:
===

## This is my usecase:
Details were already provided initially. Copy pasting it _again_
1. Consuming from Kafka multiple messages which are from different partitions.
2. Need to validate the ID field of each message consumed. This ID is Random.Number generated in a previous test (REST POST).
3. Trying to access this ID deterministically using validators and it is not working.
Bel

[2020-10-02 21:08] gobozov commented on #107
In my case I was need to send file along with json body.

What I have done:

1) Controller
`@ResponseBody
    public ResponseEntity<TranslationResponse> createTranslationRequest(
            @RequestPart(value = "createTranslationRequest") @Parameter(name = "createTranslationRequest")  CreateTranslationRequest createTranslationRequest,
            @RequestPart @Valid List<MultipartFile> attachment

[2020-10-03 11:19] authorjapps commented on #433
@ankita2210 , thanks for noticing this. Can you raise a PR please with the changes?

[2020-10-03 11:23] ankita2210 commented on #433
Sure will do this

On Sat, 3 Oct, 2020, 4:49 pm authorjapps, <notifications@github.com> wrote:

[2020-10-03 18:23] authorjapps commented on #436
@kt09 , can you paste the request/response log here to have a look ?

[2020-10-03 18:33] #433 closed

[2020-10-04 05:00] dasabhishek0790 commented on #401
@authorjapps reminder! the PR has been pending for a while. Please can you help to merge it.

[2020-10-06 09:10] automatedbegginer opened #446 "Help needed - sending integer in request"
AC1:
As an automation tester
I want `"caption": "(int)${RANDOM.UUID}"` to be resolved to `"caption": 123456` instead of `"caption": "123456"`
So that I can pass an int field to the server application.

AC2:
Update the [documentation page](https://github.com/authorjapps/zerocode/wiki/Token:-Random-Number) when ready.

***

Hello,

I may be blind or stupid :) , but i cant find how to send integer in

[2020-10-06 10:58] romrich opened #447 "Losing order of steps"
Problem Statement
===
For review purposes is it useful to use HTML report site to go through all plan steps (step by step)

Currently the system is doing this way:
when a HTML page is generated the plan steps are not in the same order as they were executed, e.g

steps in a yml file:
-- init
-- execute
-- check results

steps in HTML report
-- execute
-- check results
-- init

Expected:
steps in a

[2020-10-06 14:23] kt09 commented on #436
@authorjapps attached.
We are using our custom kafka client.
[output-with-change.txt](https://github.com/authorjapps/zerocode/files/5334470/output-with-change.txt)

[2020-10-09 03:16] tanvimehta commented on #207
@authorjapps Hello! Do you still need help fixing this issue? If so, I'd love to give it a shot. Thanks!

[2020-10-10 11:47] dhruv-bansal commented on #420
@harshasridhar  any update? Are you still working or I can try?

[2020-10-11 07:06] authorjapps commented on #420
@dhruv-bansal , please proceed!

Doc page to edit is [here](https://github.com/authorjapps/zerocode/wiki/Assertions-Or-Verifications-of-Various-Data-Types)

[2020-10-12 13:07] eugenenosenko opened #448 "[KAFKA] Assert record content when multiple records collected"
Sometimes when I run consumer tests more than one record is picked up by the KafkaConsumer together with the one I'm looking for but AssertionProcessor only tries to match the first record collected.

Here is my consumer configuration :
[code]
KafkaConsumer then properly pick's up the records including mine with
![image](https://user-images.githubusercontent.com/12811878/95749745-58d94e80-0c9c-11e

[2020-10-12 14:01] mailtoach79 opened #449 "Wrapper class needed to access zerocode methods"
Hi,

Its good to have a ZEROCODE wrapper class, which should be responsible to process requests (GET, PUT, POST, DELETE), and return the response object in a map. This should be very useful when API test is integrated with UI test.
Thanks.

[2020-10-12 14:05] authorjapps commented on #449
@mailtoach79 , it's possible to expose these as apis or DSLs.
We will fit this into our upcoming roadmap and implement this !

[2020-10-12 17:53] kt09 commented on #449
@mailtoach79 - You can however write your own custom wrapper and return response as a map. There are examples on how to do that.

[2020-10-12 20:34] mailtoach79 commented on #449
Thanks for your response.. can you share few details on example links.. which can be helpful. thanks.

[2020-10-13 07:22] nirmalchandra commented on #448
Hi @eugenenosenko , can you put here the request+response log here? You can copy it from the console or the `target/logs` folder after running the test scenario.

[2020-10-13 07:57] eugenenosenko commented on #448
attached logs :
[zerocode_rest_bdd_logs.log](https://github.com/authorjapps/zerocode/files/5369804/zerocode_rest_bdd_logs.log)

[2020-10-13 12:07] nirmalchandra commented on #448
<img width="686" alt="kafka assert" src="https://user-images.githubusercontent.com/15079710/95857912-3440ad80-0d54-11eb-8943-4fcfc8f79147.png">

Please observe the above screenshot of the actual response...
The actual record is the 279th record, indexed as 278(due to 0 counted as 1).
You may not be able to assert this deterministically as the index might change everytime you pull from the topic, h

[2020-10-15 06:51] nirmalchandra commented on #207
Hello @tanvimehta , will refine the ACs slightly and update you soon. Thanks for your interest ✌️

[2020-10-15 15:45] dandalavinod opened #451 "Sending dynamic headers (values) to kafka while reading records from file"
AC1:
===
Documentation and usage examples link: [IN PROGRESS...](#)

AC2:
===
Here is the example of data file(test_data_json.json) i am using to drive through my test file to produce messages into kafka:
[code]
Note: the placeholder `${$.initiate_batch.response.body.id}` which i expect to be replaced by the prior step of my test file

Then i use the following scenario :
where i make a call in fir

[2020-10-15 15:50] dandalavinod commented on #451
Adding some history related to this topic from slack discussion for more details:
@authorjapps thanks for the code references and it helped - however still have some feasibility issues; from your example learnt that one needs to send headers through the file as well and so have updated my data json as below and i now see headers being sent through fine here is an example of the data file (however

[2020-10-17 19:47] authorjapps commented on #432
Available in `1.3.25` onwards.

[2020-10-17 19:47] #432 closed

[2020-10-17 19:52] authorjapps commented on #429
Available in `1.3.15` onwards.

[2020-10-17 19:52] #429 closed

[2020-10-21 13:32] felipeEngineer2020 opened #453 "Use JSON file within a reusable JSON file"
AC1:
===
Usage Documentation and example link: [In-progress...](#)

AC2:
===
As Automation Engineer I want to be able to reference a reusable JSON file from another reusable JSON file.

Example:
Part of test case:
[code]
And inside file **step1.json** I want to call a JSON file for the body

[code]
Contents of **body.json**
[code]
If this is already implemented please give me an example of the syn

[2020-10-23 07:25] RDBreed commented on #451
I know how to do this, but it looks like it's a bit down the rabbit hole (in KafkaSender it needs to be done, but there is not executionstate there yet)... Will try to create a PR for it today.

[2020-10-23 15:38] authorjapps commented on #451
@RDBreed , thanks for picking this. ✌️

@dandalavinod , just checking you are not currently working on this as you mentioned earlier in Slack to do so. If not started, can you flag a green signal to @RDBreed to proceed? 🚥

[2020-10-24 19:25] RDBreed commented on #453
Could also pick this up; know where to implement it (it isn't implemented as far as I could see). Just let me know, then I will create a PR for it!

[2020-10-26 14:35] RDBreed commented on #451
Please let me know if there is anything I could do to help further. ;) Have created a PR yet, so that you may look into it if needed.

[2020-10-27 14:25] dandalavinod commented on #451
@RDBreed apolozise for late response, have not got chance to work on this; please go ahead!

[2020-10-27 14:55] authorjapps commented on #453
Awaiting the release...
Available in `1.3.26` and higher versions.

[2020-10-27 14:59] authorjapps commented on #451
Available in `1.3.26` and higher versions.

[2020-10-28 13:12] nirmalchandra commented on #451
I had a quick look at the Kafka test @RDBreed added. It works as expected. 👍

You can find the CI logs for this test here too: https://api.travis-ci.org/v3/job/739273244/log.txt
(Search for text `files/test_data_json_with_vars.json`)

Here is the local log for reference only.
[code]

[2020-10-28 14:21] authorjapps commented on #451
Available in `1.3.26` and higher versions.

[2020-10-29 11:04] dandalavinod commented on #451
thanks much - @RDBreed @authorjapps for addressing this. Curious when will be 1.3.26 release be available to use? Is there a specific release schedule this community follows?

[2020-10-29 11:23] authorjapps commented on #451
Np @dandalavinod , The schedules are [here](https://github.com/authorjapps/zerocode/wiki/Zerocode-release-frequency-and-schedule).
Next one scheduled on  `2020-Nov-21`

In case of a priority and if your project needs a release urgently, please let us know!

[2020-10-29 19:00] dandalavinod commented on #451
@authorjapps it would help immensely to speed up our testing process with this fix; so we dont need to stuff the test cases jsons with large jsons and instead seamlessly read from files. Appreciate if you can help get a release with this fix sooner than above mentioned date. thanks much!

[2020-10-30 06:33] authorjapps commented on #451
Understood @dandalavinod. No worries! We will try to push this by this weekend ie. in the next 2days, by 1st Oct ✌️

[2020-10-30 09:11] RDBreed commented on #447
It says in one of the tests "order different to original: Not really an issue, as the CSV can be sorted ACS or DESC by a an external tool". Changing this to keep the same order would be simple though.
Could you explain why it would be an issue for you?

[2020-10-30 13:53] dandalavinod commented on #451
THANK YOU! @authorjapps - will look forward for it.

[2020-10-30 19:06] RDBreed commented on #436
Parsing the jsonpath with variables is possible, but this assertion is not working as you would expect.
The field will give a result as `'[{"id":"0e42651b-9e4d-4d82-ad77-7c115c947dde"}]'` while the value will become `'0e42651b-9e4d-4d82-ad77-7c115c947dde'`. ;)

[2020-10-30 22:21] kt09 commented on #436
Hi @RDBreed - thanks for the response. I am not clear about your answer tho. So is the way I am asserting is wrong?
If yes, then what is the right way? Please advise.

[2020-10-31 00:38] authorjapps commented on #436
{
				"field": "$..journals[?(@.id==${$.send_valid_unique_identifiers.response.body.rawJournals.[0].id})]",
...
			}

@kt09 , the "field" should be a key(i.e. a field name), not the value.
Try this!

or simply use the `matchers` instead of `validators`.

[2020-10-31 16:45] kt09 commented on #436
test

[2020-10-31 16:55] kt09 commented on #436
[code]
@authorjapps - changed the field to look for id when accountId = 123456
The response from the consumer for this accountId is not deterministic. Sometimes this accountId comes first, sometimes second.
Additionally, as you can see from the log snippet above, value is being able to resolve. And that is the issue. Am I doing something wrong here? If yes, what is the correct way to get to the va

[2020-11-01 16:17] authorjapps commented on #436
@kt09 , Issue is not having details what problem you want to solve. Hence no documentation will be helpful in this case.
Provide an usecase and make the problem statements clear for the collaborators to answer it.

Can you capture the following into the description?

1. What is your usecase?
2. What is your actual request and actual response?
3. What you want to assert or validate?

Only then we w

[2020-11-01 16:53] #453 closed

[2020-11-01 16:54] authorjapps commented on #451
Available in `1.3.26` and higher versions.

+ [Release notes](https://github.com/authorjapps/zerocode/releases/tag/zerocode-tdd-parent-1.3.26)

[2020-11-01 16:54] #451 closed

[2020-11-01 16:57] kt09 commented on #436
@authorjapps - thanks for the response. All the above points were already addressed. I have updated it again. Given the detailed description and the log file and the follow-up update, is there anything not clear still?

[2020-11-01 17:21] kt09 commented on #436
@authorjapps  - breaking down the test steps even more!
[code]

[2020-11-02 11:07] RDBreed commented on #446
As far as I could see, this is not possible out-of-the-box. If it is however really desirable, there would be quit a change (the ${} is substituted only, not the surrounded double quotes)...

[2020-11-02 11:12] automatedbegginer commented on #446
I mean, its not big problem cuz apps are trying to convert str to integer so it works, but would be nice to have control.

[2020-11-02 11:31] authorjapps commented on #446
Thanks, Happy to know @automatedbegginer.
However we will raise a TECH-DEBT for this to address this.
Something like
"caption": "(int)${RANDOM.UUID}" should help.

[2020-11-02 12:37] officiallysameer commented on #436
@kt09
Can you please paste the specific snippet from the log?
The attached log file has too many other unrelated details which might be make it difficult for the collaborators to drill down to your specific problem.
This looks more like a usage problem than an issue.
You can discuss this in Slack too where you may find assistance from wider audience

[2020-11-02 13:27] kt09 commented on #436
@officiallysameer - thanks for the response. Please see below as requested.
Also, since it has been tagged at "not-an-issue", I am hoping for a quick turnaround on this. Please keep me posted.

[code]
Also, since it has been tagged at "not-an-issue", I am hoping for a quick turnaround on this. Please keep me posted.

[2020-11-02 13:50] RDBreed commented on #436
Already did understand what is needed:
- he has a step in which he posts some data with a list to a backend rest server
- this backend application will put this received datalist as separate records on the kafka topic
- next step of the test will get the data records from the kafka topic

The assertion to check here, that the data that was put on the backend rest server, is the same as received fr

[2020-11-02 14:00] kt09 commented on #436
@RDBreed - thanks for the response.
The assertion is to check on the value of the ID field in the consumed JSON record. This ID is generated by RANDOM.UUID in a previous test case. I am able to get the desired data from kafka, but cannot validate/assert/match on the value of the ID field. Basically, we post 2 ID values and we want to validate/assert/match that those 2 ID values are present on the

[2020-11-03 15:28] romrich commented on #447
when a HTML page is generated the plan steps are not in the same order as they were executed, e.g

- steps in a yml file:
-- init
-- execute
-- check results

- steps in HTML report
-- execute
-- check results
-- init

[2020-11-04 11:50] romrich commented on #447
a possible fix:

`    List<ZeroCodeReportStep> getUniqueSteps(List<ZeroCodeReportStep> steps) {
        Map<String, ZeroCodeReportStep> result = new HashMap<>();
        ArrayList<String> sequenceOfCorrelationIds = new ArrayList<>();
        steps.forEach(step -> {
            result.merge(step.getCorrelationId(), step,
                    (s1, s2) -> RESULT_PASS.equals(s1.getResult()) ? s1 : s2);

[2020-11-07 14:35] siddhagalaxy opened #458 "Variable section for Zerocode DSL"
As an automation test engineer
I want a port number or a random number or a random string or all of them to be  available to my steps inside a single scenario
So that I will be able to reuse this in my steps easily.

Is this already available... by chance?

An example would look like below:

[code]

[2020-11-09 16:35] johnc2017 opened #459 "Ability to write a message to HTML report"
In the Zerocode Interactive Report noticed that if a test is passed there is no request body posted but is present when a test is failed.
Need a way to print the request/response body or any custom text onto the Passed Report as well from a test step?
This forms the test evidence for auditing that the correct data was posted/received

Perhaps something like a keyword called "print2html" or just "p

[2020-11-09 16:46] johnc2017 commented on #447
I have the same issue. Would be good if this can be fixed

[2020-11-12 13:19] RDBreed commented on #447
Thanks for the suggestion, I think a LinkedHashMap instead of a regular HashMap would already do the right thing... :) Didn't have time to look at it further, but will try to look at it one of these days! ;)

[2020-11-12 15:30] authorjapps commented on #458
@siddhagalaxy , the `parameterized` should help you to achieve this. However they are not `named` as you have requested.
We will try to implement the above (might be with some refinements/suggestions from the other collaborators).

[2020-11-12 15:43] authorjapps commented on #447
@romrich , could you please add more details to the ticket? Currently it has a subject line "Losing order of steps" and some suggestion to a problem. But the problem has not been clearly outlined.
I have put the placeholders to fill it.

This will help everyone to understand the issue and to come up with a potential solution or answer!

[2020-11-19 11:52] ramachandrakambham opened #460 "reading the value from property file and placing in uri request and getting error"
[code]

error :
[code]

[2020-11-20 11:31] RDBreed commented on #460
Your path is incorrect. And that is exactly the message you are getting.
Could you describe more what you want to achieve here?

Btw, in your request it is `${$.Fetch_Organization.response.body.successResult.organziations[?(@.name=='${web.application.yell.account.id}')].id}` and below in the response exception `${$.Fetch_Organization.response.body.successResult.organziations[(@.name=='${web.applic

[2020-11-23 05:02] r5k5 opened #461 "Pass information between step files"
I have 2 single-step JSON files both of which make API calls to an external service. I have included both the files as steps in a test JSON file. I wanted to use a response field of the first API as a request field of the second API.

Is this possible?

[2020-11-23 11:41] sparrowV commented on #461
@r5k5  yes its possible. lets say request field name is reqParamName, you could write smth like this:   `reqParamNam: "${$.first_step_name.response.body.id}" `   where `first_step_name` is the name you named your first step, and `id` is the parameter  that you want value from ( you should change that according to your needs, in your case it most certainly  will have  a different name).  Give it a

[2020-11-23 19:08] authorjapps opened #462 "initialPollWaitingForConsumerGroupJoin time should be configurable"
From Slack conversation(Click here to see full details):
https://zerocode-workspace.slack.com/archives/C013T2SV151/p1606153188005800

[code]

Linked issue: #421 ,
Linked PR: https://github.com/authorjapps/zerocode/pull/422

[2020-11-23 21:26] dandalavinod commented on #462
changing to 1000ms did the trick .. ran it few times and have not seen the issue; my proposal for the fix is to use the consumercommonconfig setting consumer.pollingTime and use that as a configurable seting for the initial poll for consumer group to join rather than introducing a new configuration param. I believe the default value is 5000ms which should be sufficient and if needed they can incre

[2020-11-24 10:26] authorjapps commented on #462
yep, agreed. sounds perfect. Please proceed.

[2020-11-24 15:20] dandalavinod commented on #462
@authorjapps as i try push and generate a PR: i am getting Can't connect to URI: git@github.com:authorjapps/zerocode - push not permitted. Seems like i do not have push permissions, could you help take a look and get me necessary permissions or let me know if am missing anything. thanks!

[2020-11-24 16:02] sparrowV commented on #462
hey @dandalavinod . You cant directly push to original zerocode repo. If everyone could directly push the code, it would be huge mess  🤕  ( to say the least). So what you should do is to fork zerocode original repo ( [how to do forking is described here](https://docs.github.com/en/free-pro-team@latest/github/getting-started-with-github/fork-a-repo) ) , you clone forked repo locally, make changes ,

[2020-11-24 16:58] authorjapps commented on #462
@dandalavinod , Also you can follow these [quick n easy guidelines](https://github.com/authorjapps/zerocode/blob/master/CONTRIBUTING.md#how-to-submit-a-pull-request-ie-the-change-you-want-to-merge) in [CONTRIBUTING.md](https://github.com/authorjapps/zerocode/blob/master/CONTRIBUTING.md). ✌️

[2020-11-24 18:57] r5k5 commented on #461
Thanks, @sparrowV.

[2020-11-25 04:13] dandalavinod commented on #462
delivered changes using PR: https://github.com/authorjapps/zerocode/pull/463

[2020-11-25 04:15] dandalavinod commented on #462
@authorjapps how do i add reviewers to my PR? i do not see the ability for me to add reviewers yet - will i not be able to do it until travis CI reports comes back?? https://github.com/authorjapps/zerocode/pull/463

[2020-11-26 11:39] romrich commented on #447
@authorjapps, added more details for the issue...

[2020-12-05 11:38] authorjapps commented on #462
Available in version 1.3.27 (awaiting release)
ETA: 6-dec-2020, Sunday

[2020-12-06 23:13] #462 closed

[2020-12-14 09:38] vinod-191gs opened #465 "Unable to send epoc time using LOCAL.DATE"
Unable to send epoc time using LOCAL.DATE

[2020-12-14 14:35] sparrowV commented on #465
hey @vinod-191gs . Can you provide more information? The scenario you are trying to run, logs and so on. Thanks

[2020-12-15 14:26] vinod-191gs commented on #465
I am trying send epoch time in the payload instead of formatted date but there is no option to send epoch time in the payload.
This is a new feature i am requesting to implement.

[2020-12-15 15:11] dandalavinod opened #466 "Failing to handle case when content length is unknown for a REST call"
@authorjapps
Situation: Performing a REST call which does return only HTTP status code without any content and on top of that - does not return any content length as part of the headers.
Issue:
In above scenarios, which is not against the HTTP W3 rules - where content length is not required to be returned as HTTP header; zerocode fails with  error as below (see stacktrace)
Solution:
To handle such

[2020-12-15 15:37] nirmalchandra commented on #466
@dandalavinod , Thanks for raising this.
Can you also paste your Zerocode test steps/scenario if possible?

[2020-12-15 17:38] sparrowV commented on #465
@vinod-191gs  there might be simpler way to do it , but this is one way to do it: The idea is to have a first step that calls our  method, that returns epoch time (or anything you want) and then use that response in second step, like this:

[code]

so In step 1 I call getEpoch method of Main class that returns epoch time. In step two I use that with ``` ${$.get_epoch_time.response}```  (keep in mi

[2020-12-16 16:17] felipeEngineer2020 commented on #429
Hi, can you please provide an example?

[2020-12-17 11:09] authorjapps commented on #429
yes, will do.

[2020-12-17 18:32] authorjapps commented on #429
+ Example step:
[code]

+ Sample method implementation(used above):

[code]

See a sample test scenario [here](https://github.com/authorjapps/zerocode/blob/master/core/src/test/java/org/jsmart/zerocode/integrationtests/CustomAssertionTest.java)

[2020-12-19 15:39] ShubhamAnand2098 commented on #409
Hi @authorjapps
Is this issue fixed? if not I would like to try solving this

[2020-12-22 10:32] narioinc opened #467 "Support for MQTT"
Team,

I would love if Zerocode can start supporting MQTT test cases as well. The Zerocode code design allows for easy integration with MQTT and other potential candidates like kinesis, SQS, JMQ etc.

I have a working downstream repo with full scale MQTT protocol support
https://github.com/narioinc/zerocode

This is a feature request that i would like to integrate with Zerocode.

[2020-12-31 16:40] rmccarter721 commented on #446
I am going to look at implementing this as a first feature.

I know AC1 lists the syntax as: `"caption": "(int)${RANDOM.UUID}"` which follows the java casting style.
From a limiting code change perspective and trying to prevent unintended functionality to users (who may be trying to pass in a static value of (int)) I think something like: `"caption": "${(int)RANDOM.UUID}"` is better as it ties the

[2021-01-12 22:06] dandalavinod commented on #466
@nirmalchandra sorry about the delay - was on a break for year end holidays! here is the details you requested
{
	"scenarioName": "GIVEN - I make a REST CALL as below, WHEN - call returns 401 http code, no response body where content-length header is also not returned, THEN - I observe Zerocode throw EOFException.",
	"ignoreStepFailures" : "true",
	"steps": [
		{
		// This call returns EOFexceptio

[2021-01-13 11:22] nirmalchandra commented on #466
Thanks @dandalavinod for the details. Understood the scenario.
Yep, the fix looks good.

Please go ahead with the PR. 👍

Please note:
Due to the DockerHub rate limit on the image pulls, you need to branch out from the original repo and raise a PR, which will make the CI job to actually run, then turn green.
_If you have not been added as a collaborator, please give us a shout here, we will add you

[2021-01-13 17:08] marcelo-xavier-bl commented on #221
This doesn't work for kafka tests : ( It would be great to add the same think for event tests

[2021-01-15 16:58] MrXavier opened #470 "Switch statement not written correctly"
As a Developer I identified a critical issue in Java language in [BasicKafkaClient.java](https://github.com/authorjapps/zerocode/blob/master/core/src/main/java/org/jsmart/zerocode/core/kafka/client/BasicKafkaClient.java) class.

The switch case statement doesn't have `break` at the end of each step. This can cause unintended behaviour in the future. Actually it's causing an unintended behaviour al

[2021-01-15 17:33] #470 closed

[2021-01-18 22:00] rpapesch commented on #341
Hi!

Currently, we are evaluating the framework to be used in a corporate context.

I would like to know if producing AVRO messages is working (with schema registry).

Is this already fixed and if yes, could you provide an example?

Thank you!

René

[2021-01-19 15:27] MrXavier opened #472 "WireMock: Not able to mock url path only regardless the query parameters"
It's not possible to mock url path only using WireMock solution Zerocode provide for step scenarios. Because of that it's not possible to mock a simple url without considering the query parameters. This is easily fixed by using WireMock method called `urlPathEqualTo(url)` [more here](http://wiremock.org/docs/request-matching/).

Solution: A simple and easy solution would be to change `RestEndPoint

[2021-01-20 11:16] sparrowV commented on #472
Hey @MrXavier  , can you provide more details about what kind of url mocking are you talking about?
It would be great if you could provide some scenario file or part of it which uses the mocking that is implemented now VS
scenario file after integrating your suggestion. Thanks

[2021-01-22 13:48] nickcotter opened #473 "No CSV report files being generated"
I'm using gradle and the ZeroCodeMultiLoadRunner to run some load tests and the tests execute correctly but no csv files are being generated in the target folder, only target/logs/zerocode_rest_bdd_logs.log and the regular junit output in build/test-results. What am I missing?

This is part of my gradle file - I'm running the tests in a separate source config:

[code]

Here is the load test class:

[2021-01-23 18:53] nirmalchandra commented on #473
@nickcotter , Can you check the [Gradle settings documentation](https://knowledge.zerocode.io/knowledge/gradle-build-for-junit-smart-chart-and-csv-reports) here!

Looks like Gradle needs this settings for CSV to be generated at the target folder.
e.g.
[code]

[2021-01-23 22:07] MrXavier commented on #472
Hello @sparrowV, I'm talking about mocking only the path of a http request, disregarding the query parameters. For instance, if I mock the path `cart/price`, then the request `cart/price?para1=value1&param2=value2` won't be matched and the mock's response won't be returned.

Example of a mock step scenario that should work for the path `cart/price` regardless the query params but currently  isn't

[2021-01-24 05:47] sparrowV commented on #472
@MrXavier  thanks for clarification. if you   make url  `"url": "cart/price?param1=param1"` it should work.

[2021-01-24 19:08] MrXavier commented on #472
@sparrowV Yes you are right, let me add one more detail in my problem, the query parameter is not static. They change every request. by it generating a new value. For example first it receives `cart/price?uuid=123-456-789` then in a second test it receives `cart/price?uuid=555-666-999`. Thank you for bring this up and to allow me to clarify the issue.

I created a PR where the issue is fixed. Feel

[2021-01-25 10:30] nickcotter commented on #473
I already had the systemProperty present, and the include line includes what appears to be a specific [test](https://github.com/authorjapps/zerocode-hello-world/blob/master/src/test/java/org/jsmart/zerocode/testhelp/tests/HelloWorldGitHubSuite.java) for the demo code.

Anyway, adding it has no effect - still no CSV file.

[2021-01-25 17:05] authorjapps commented on #473
Hi @nickcotter , That should do the job for Gradle as Gradle by default not is not notified by JUnit listners.

Here is a repo for you to refer to, it works. You can clone and try at your local machine, with and without the above system property set.
GitHub repo link: https://github.com/authorjapps/zerocode-hello-world/blob/master/build.gradle

I suggest doing a clean and then, rerun with above se

[2021-01-25 17:36] authorjapps commented on #472
Hello @MrXavier , can you [join our Slack](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ) ?
Also, then pls accept the [collaboration invitation](https://github.com/authorjapps/zerocode/invitations) for branching out the repo and raising the PR.

[2021-01-27 14:21] nickcotter commented on #473
I've looked at this project to see what's different, and unfortunately, I can't see anything obvious. My project is a submodule of a larger one and I guess there may be some hidden dependency issue, but I don't know how to diagnose that if so. I can see in the logs that it thinks it has written the CSV file:

[code]

Unfortunately when I try to build the demo I get an error about not being able to

[2021-01-27 17:02] gozerocode commented on #473
@BeTheCodeWithYou , You have used this project with Gradle, can you have a look?

[2021-01-27 17:07] authorjapps commented on #473
Guys, Can you have a look as you have used this with Gradle?
@ankitshubham97, @Umang, @BeTheCodeWithYou
Appreciate your input here.

[2021-01-27 22:47] sduong1207 opened #477 "why scenarios steps in zerocode-junit-interactive-fuzzy-search.html report are not displayed the same as they are in the scenario json"
why steps in zerocode-junit-interactive-fuzzy-search.html report are not displayed in order as they are in the json scenarios file
For example:
My scenarios in json file, I defined below steps:
[code]
In zerocode-junit-interactive-fuzzy-search.html report, the steps are displayed as
   create_envrionment
   check_solutions
   check_account

I expected to see the report should be displayed as
   ch

[2021-01-29 07:55] sparrowV commented on #477
Hey, @sduong1207 . It's definitely not a bug, seems like nice to have  feature. For questions, you can join our [Slack](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ) <br/>

[2021-02-03 08:09] BeTheCodeWithYou commented on #473
@nickcotter - could you please try setting systemProperty for smart chart reports out of your load test task? Like as below

test {
	systemProperty 'zerocode.junit', 'gen-smart-charts-csv-reports'
}

[2021-02-04 07:01] sparrowV commented on #447
@romrich  @RDBreed  @johnc2017  If you sort the data in ascending order by requestTimeStamp, it will show the same order as in scenarios. For sure, it will be better if the report is generated already sorted by requestTimeStamp.

[2021-02-04 07:09] sparrowV commented on #449
@mailtoach79  What you can do is the following:
[code]

you can take a look  [here,](https://github.com/authorjapps/zerocode-hello-world/blob/master/src/test/resources/helloworldjavaexec/hello_world_java_method_return_assertions.json) where method execution is done

[2021-02-04 07:10] sparrowV commented on #460
Thanks @RDBreed . @ramachandrakambham  Do you have any questions regarding with this ?

[2021-02-04 07:11] #461 closed

[2021-02-04 07:13] sparrowV commented on #465
@vinod-191gs Hey mate, I think this issue is done. For more questions, you can join our  [Slack](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ) <br/>

[2021-02-05 10:10] nickcotter commented on #473
Unfortunately I already had this setting.

On Wed, 3 Feb 2021 at 08:09, {Neeraj : Sidhaye} <notifications@github.com>
wrote:

[2021-02-06 06:07] lankor commented on #477
I raised a PR to fix the issue.
The thing is the code was using a `HashMap`  and it needs a `LinkedHashMap` to keep the steps order.

[2021-02-07 08:43] authorjapps commented on #477
Available in the next release. Version `1.3.28`

[2021-02-08 06:35] #477 closed

[2021-02-08 06:36] #465 closed

[2021-02-08 06:39] sparrowV commented on #448
Hey @eugenenosenko . Is your issue resolved? Do you have other questions?

[2021-02-08 06:40] sparrowV commented on #447
Solved by [this pull request](https://github.com/authorjapps/zerocode/pull/479)

[2021-02-08 06:41] #447 closed

[2021-02-08 06:53] imprashant commented on #409
Hello @authorjapps
I have raised a PR for this, can you please let me know if the PR is as per the expectation?
Also is it OK to assign this to me?

[2021-02-09 14:30] ikus060 opened #481 "Assertion doesn'T support dot (.) properly and make it a jsonPath"
Not sure if it's a feature or a bug, but I find it not user friendly.

With the following step:
[code]
My assertion record contains fields with dot (.) It seams to confuse the assertion processor because the resulting json path become: `$.records[0].value.SNMPv2-MIB::snmpTrapOID.0`

I would expect zerocode to properly escape the field name on it own so the json path would be:
`$.records[0].value.[

[2021-02-10 05:32] sparrowV commented on #481
Hey @ikus060  , we would need to look into it, but meanwhile I would suggest to use validators instead of matches. In a validator us specify jsonpath yourself and you could specify `$.records[0].value.['SNMPv2-MIB::snmpTrapOID.0']` there.

[2021-02-13 13:30] BeTheCodeWithYou commented on #473
@nickcotter  ok. Thanks. Could you please share sample structure of your projects, submodules, and where you ZeroCode test project sits with them etc. It will help us to provide some pointers.

[2021-02-13 16:06] taruntiwaritt commented on #420
Hi @authorjapps ,
I have setup my workspace for zerocode. If this issue is still open, i would like to work on it.

[2021-02-15 11:09] authorjapps commented on #409
Hello @imprashant ,  Apologies for the delay as we were slightly busy in our day jobs.
We will take a look soon.

[2021-02-19 15:42] M3lkior commented on #341
I have the same needs of all of you and i use a Custom Kafka Client  to achieve that !

@rpapesch if my workaround in interesting you  :

- generate your java AVRO POJO from your AVRO schema specification. From my side, they comes in a packaged jar
- You can create a CustomKafkaClient based on this sample : https://github.com/authorjapps/zerocode/blob/master/kafka-testing/src/main/java/org/jsmart/

[2021-02-23 11:34] abinashb414 opened #482 "Unable to provision, see the following errors:"
Hi team,
I am getting the below error while executing the test case.

Unable to provision, see the following errors:

1) Error injecting constructor, java.lang.NoClassDefFoundError: org/jsmart/zerocode/core/di/provider/GsonSerDeProvider$KafkaHeadersAdapter
  at org.jsmart.zerocode.core.kafka.send.KafkaSender.<init>(KafkaSender.java:41)
  at org.jsmart.zerocode.core.kafka.send.KafkaSender.class(Kaf

[2021-02-23 14:58] sparrowV commented on #482
Greetings, please provide [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)

[2021-02-23 21:36] ddingel opened #483 "Allow dynamic creation of records for kafka produce"
Not sure if this is a feature request or a bug.

Business use-case example:
In an application a kafka messages contains references to a third party e.g. object store.
When I store multiple objects in scenario step 1, I want not to send multiple kafka records in scenario step 2 via KafkaSender.

We tried this with two different approaches:
1) generating a file with the events in step 1 and using th

[2021-02-24 16:58] abinashb414 commented on #482
We have a multi module gradle project for our application which is build using gradle 2.14. And inside that we have created one more module for our component testing(api)
In our project we have created one custom framework using zero code of version 1.3.20 and there we created one customised class(E2eJunitRunner) by extending the ZeroCodeUnitRunner class by overriding getMainModuleInjector method

[2021-02-25 06:43] sparrowV commented on #482
@abinashb414 well  , in `getMainModuleInjector` it also injects Kafka module. If you want to point to your specific property file, you can use `@TargetEnv` annotation( you don't have to overide anything).

[2021-02-25 07:24] abinashb414 commented on #482
@sparrowV thanks for the update, definitely I will go through that and post that will update here. If there is any reference (sample code where they have used this annotation) available for @TargetEnv please provide, that may be helpful for us.

[2021-02-25 07:29] sparrowV commented on #482
@abinashb414  You can see [this](https://github.com/authorjapps/zerocode/blob/master/http-testing/src/test/java/org/jsmart/zerocode/testhelp/tests/helloworld/JustHelloWorldTest.java).
You put the `@TargetEnv ` annotation on top of the test class and specify the property file, that you created and placed in resources folder

[2021-02-25 09:45] abinashb414 commented on #482
@sparrowV I have tried this but still getting the same error, my test class is as below

import org.jsmart.zerocode.core.domain.JsonTestCase;
import org.jsmart.zerocode.core.domain.TargetEnv;
import org.jsmart.zerocode.core.runner.ZeroCodeUnitRunner;
import org.junit.Test;
import org.junit.runner.RunWith;

@TargetEnv("application-local.properties")
@RunWith(ZeroCodeUnitRunner.class)
public class C

[2021-02-25 09:53] sparrowV commented on #482
`JsonTestCase ` is deprecated, please use `@Scenario` . Can you upgrade to the latest version of ZeroCode?

[2021-02-25 10:35] abinashb414 commented on #482
Using @Scenario also i have tried earlier, we were using 1.3.20 version now upgraded to 1.3.27. getting below error now

Unable to provision, see the following errors:

1) Error injecting constructor, java.lang.NoClassDefFoundError: com/google/gson/TypeAdapter
  at org.jsmart.zerocode.core.kafka.send.KafkaSender.<init>(KafkaSender.java:45)
  at org.jsmart.zerocode.core.kafka.send.KafkaSender.class

[2021-02-26 05:43] pavithra0530 opened #484 "Zerocode is not able to read the response from server"
I can see the api call is coming to the server and also the response that is sent from my server in my server logs but zero code shows response unavailable. The same api call is working fine through post man. Please help.

**test case:**

[code]

**Run console:**

[code]

[2021-02-26 14:23] sparrowV commented on #484
Greetings, Can you share createShipmentExpectation.json scenario file and  application-local.properties file?

[2021-02-28 13:51] pavithra0530 commented on #484
Hi @sparrowV , Please find the details below:

**CreateShipementExpectation.json:**
{
  "scenarioName": "Create Shipment Expectation in Payments",
  "steps":[
    {
      "name": "Create Shipment Expectation",
      "url": "http://127.0.0.1:46000/v1/shipments/bulk",
      "operation": "POST",
      "request": {
        "headers":{
          "X-REQUEST-ID" : "HL123"
        },
        "body": "${JS

[2021-03-01 13:06] pavithra0530 commented on #484
hey @sparrowV , Thanks for this one. But i have already tried that way and still I was getting same error.

[2021-03-01 13:17] sparrowV commented on #484
@pavithra0530  Does the server return the data? Can you debug it and see if server return something?

[2021-03-01 18:47] omidhzr commented on #58
Is this still open? and do you need help? :)

[2021-03-05 23:13] TurbulentCupcake opened #485 "Does zerocode not allow comparison of arrays dynamically?"
For example, if my response body has the following:
` {
                    "type" :  #"HIGH-VALUE",
                    "persons":[
                        {
                            "id": "120.100.80.03",
                            "name": "Dan"
                        },
                        {
                            "id": "120.100.80.11",
                            "name": "Mike"

[2021-03-06 05:36] sparrowV commented on #485
Greetings, @TurbulentCupcake . With regard to array validation, order means the order of elements. With matches like `verify `and `assertions` you have to have the exact same order as response. You can use validators, but there also you need to check for each specific element. If you want to implement some custom behaviour, you need to do it via method execution from a step. I actually talk about

[2021-03-06 05:39] #460 closed

[2021-03-11 00:32] TurbulentCupcake commented on #485
Are there plans to include functionality enabling the case i described in the issue? I imagine its a common scenario that objects in an array included in the response may not necessarily be in the same order for every call made with the same body

[2021-03-11 05:15] sparrowV commented on #485
We need to get feedback from others too on this one. We might do smth like Jetbrains has where people vote for a specific feature. Meanwhile, as I said, you can validate it with a java method call.

[2021-03-11 05:18] sparrowV commented on #482
@abinashb414  please post the full stack trace

[2021-03-18 04:51] abinashb414 commented on #482
Unable to provision, see the following errors:

1) Error injecting constructor, java.lang.NoClassDefFoundError: com/google/gson/TypeAdapter
  at org.jsmart.zerocode.core.kafka.send.KafkaSender.<init>(KafkaSender.java:45)
  at org.jsmart.zerocode.core.kafka.send.KafkaSender.class(KafkaSender.java:45)
  while locating org.jsmart.zerocode.core.kafka.send.KafkaSender
    for field at org.jsmart.zeroco

[2021-03-18 05:43] sparrowV commented on #482
@abinashb414 Can you manually add the google Gson dependency in your project? Also, It would be great if you create a sample project, where this error happens and we will run that project locally to see it in action.

[2021-03-18 05:59] sparrowV commented on #386
Hey @elizabetht , It's a kind of a late reply :) , You can only use JUni5 for load testing, If you are using other types of testing( rest, soap,Kafka etc ) you need to stick with JUnit 4. Let us know if you need anything.

[2021-03-18 06:02] sparrowV commented on #370
@PrabaharanK I guess the question is answered, hence closing this one. If you have other questions, please join our  [Slack](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ) , or open another issue.

[2021-03-18 06:02] #370 closed

[2021-03-18 06:03] #369 closed

[2021-03-19 12:45] pavithra0530 commented on #484
this issue is fixed ..  had problems with dependencies. below one fixed the issue:
dependencies {
    testCompile group: 'junit', name: 'junit', version: '4.12'
    testCompile("com.flipkart:zeta:0.0.3-SNAPSHOT")
    testCompile 'org.junit.platform:junit-platform-commons:1.5.2'
    implementation group: 'org.jsmart', name: 'zerocode-tdd', version: '1.3.24'
}

[2021-03-19 12:51] pavithra0530 opened #486 "is jacoco code coverage possible with jacoco?"
Below is the build.gradle file of my test project. I want to check code coverage with jacoco. The jacoco is generating a empty report with this message **"No class files specified."** Please help with this.

apply plugin: 'java'
apply plugin: 'jacoco'

sourceCompatibility = 1.8

jacoco {
    toolVersion = "0.8.6"
}
dependencies {
    testCompile group: 'junit', name: 'junit', version: '4.12'
    t

[2021-03-19 13:33] sparrowV commented on #484
Great @pavithra0530 , thanks for sharing the solution.

[2021-03-20 15:12] #484 closed

[2021-03-20 21:54] authorjapps commented on #486
@pavithra0530 , Jacoco works with Maven. For Gradle the configs might be slightly different, but it should work. @BeTheCodeWithYou , have you used code-coverage with Gradle, do you have an example repo you can point to please?

[2021-03-20 22:09] #446 closed

[2021-04-06 07:19] pavithra0530 opened #487 "error while calling JDBCExecutor of zero code project"
I have copied the JDBCExecutor of zero code to my project (com.org.zeta.dbUtils.JDBCExecutor) for customisation .While trying to connect to the DB using the JDBC executor class , it throws below error. any idea why this happens?

Stuck on this from last few days. Please help.

**Error**:

2021-04-06 12:31:13,374 [Test worker] ERROR org.jsmart.zerocode.core.engine.executor.javaapi.JavaMethodExecuto

[2021-04-07 05:01] sparrowV commented on #487
Hi @pavithra0530. Did you copy the code from [here](https://github.com/authorjapps/zerocode/wiki/Sample-DB-SQL-Executor)?
If so make sure that values in `@Named` annotation match. For example: In the code, for URL the name is **db_host_url** and you have **payment_db_host_url**. Cab you check if you have the same names?

[2021-04-07 06:35] pavithra0530 commented on #487
Hi , I am bit confused , can you please add a snippet as to how to validate db assertions using zero code?

[2021-04-07 06:47] sparrowV commented on #487
@pavithra0530 . You can watch [this](https://www.youtube.com/watch?v=i17fVrQoMbc&t=2s) video about db testing.

[2021-04-07 08:32] pavithra0530 commented on #487
Thanks @sparrowV . will try the same approach

[2021-04-07 10:10] sparrowV commented on #487
sure @pavithra0530 . If you have any additional questions, let us know. If you are not in the slack, please join  [here](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ)

[2021-04-07 10:11] #485 closed

[2021-04-07 10:12] #481 closed

[2021-04-09 08:31] M3lkior commented on #448
hello @eugenenosenko  ; you can use `validators` block for this need and test only your targeted record with JSON path matchers :

[code]

[2021-04-09 09:53] M3lkior opened #488 "[Kafka] Allow Json consume to natively read AVRO Message"
# Context

For my organization project, i needed to produce and consume AVRO messages from  the Schema Registry so i develop a custom `KakfaClient` to produce the AVRO message.

Concerning the consumption, i detected after a debugging phase that the actual `KafkaReceiver` is almost able to treat an incoming AVRO message format  thanks to the `readJson` method

Here is the actual implementation

[c

[2021-04-28 04:43] nirmalchandra commented on #488
Thanks @M3lkior. This looks great.
Yes please, please go ahead with the PR and assign the following folks as reviewers please.
@sparrowV , @respondsid , @dandalavinod, @ddingel, @santhoshTpixler

Will assign additional reviewers if needed.

[2021-05-14 11:38] nirmalchandra commented on #488
Integration test log evidence of PASS:

[code]

[2021-05-14 17:03] #487 closed

[2021-05-15 10:51] nirmalchandra commented on #488
Release to maven central is pending(in-progress). Then this issue can be closed.

[2021-05-16 21:47] nirmalchandra commented on #488
@M3lkior , Just checking, how urgent is this for your project? Can it wait a week or so for another PR(under review) ?
Also, if you could kindly accept the collaborator invitation.
Link: https://github.com/authorjapps/zerocode/invitations

[2021-05-17 08:18] M3lkior commented on #488
Yeah, it is ok to wait a week before the merge ; no problem

[2021-05-21 17:38] bfarrell-ibm opened #492 "Is it possible to add YAML.FILE as a Value token?"
Hi,

The stepFile feature allows the user to reference a step written in json format.

[code]

In our usage we are writing scenarion in yaml format - but it appears that the stepFile only supports json. Is there any plan to support a YAML file value token similar to JSON.FILE?

Support for ZIP would also be something that be useful for test cases we are currently attempting to implement.

[2021-05-23 07:46] sparrowV commented on #492
@bfarrell-ibm  what's the usecase for zip file? In stepFile we are specifying json/yaml step.

[2021-05-28 10:45] bfarrell-ibm commented on #492
Just to clarify - the ZIP file support was not in relation to stepfiles.

A colleague has a scenario where and API call expects a zip as the payload. I don't have the exact details. He is investigating using the HttpClient could be a suitable solution.

[2021-05-31 10:38] #472 closed

[2021-05-31 11:15] authorjapps commented on #472
Available in release v [1.3.28](https://github.com/authorjapps/zerocode/releases/tag/zerocode-tdd-parent-1.3.28)

[2021-05-31 11:15] authorjapps commented on #488
Released.
Available in v [1.3.28](https://github.com/authorjapps/zerocode/releases/tag/zerocode-tdd-parent-1.3.28)

[2021-05-31 11:15] #488 closed

[2021-06-01 16:01] Charlie971 opened #495 "Is it possible to disable the test reports in zerocode"
Hello guys,

I use zerocode for some Kafka tests. And I have a question about the test reports. It's possible to disable the test report generation after a test ? If yes what command I need to use on the properties file ?

Thanks very much for your help

Regards

Charlie.

[2021-06-01 17:23] sparrowV commented on #495
Hi @Charlie971. You can use `interactive.html.report.disabled=true` to disable HTML interactive chart.

You can also join our  [Slack](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ) channel for discussion.

[2021-06-04 12:11] Charlie971 commented on #495
thanks very much

[2021-06-04 12:11] #495 closed

[2021-06-07 01:34] erobertolima121 opened #497 "Is it possible to output messages to Kafka / Avro without using Kafka REST Proxy?"
Hello. Is it possible to send messages to Kafka / Avro without using Kafka REST Proxy? Directly on topic using AVRO?

[2021-06-07 17:49] sparrowV commented on #497
Welcome @erobertolima121 . Can you elaborate more on what you are trying to achieve? You can send message to kafka in zerocode scenario step.

[2021-06-08 00:17] erobertolima121 commented on #497
Hello @sparrowV, follows a more elaborate explanation.

I have Kafka and Schema Registry Embedded, with the following AVRO schema registered. I don't have Kafka REST Proxy:

![schema_avro](https://user-images.githubusercontent.com/40573811/121102560-433d0a00-c7d4-11eb-997c-937e19e3d202.PNG)

I performed the creation of the following configurations and test to post the message directly in the topic

[2021-06-09 09:20] sparrowV commented on #497
@erobertolima121  Your zerocode producer is incorrect. You need to have key/value pairs in the `records` array. Take a look at the sample producer example [here](https://github.com/authorjapps/zerocode/blob/master/kafka-testing/src/test/resources/kafka/produce/test_kafka_produce.json)

[2021-06-11 08:30] sparrowV commented on #497
@erobertolima121 , if you dont face the issue, we can close this ticket

[2021-06-15 00:31] erobertolima121 commented on #497
Hi, @sparrowV

I performed the suggested configuration and the message was posted correctly.

Thanks a lot.

[2021-06-15 00:31] #497 closed

[2021-06-22 03:14] erobertolima121 opened #500 "Produce kafka / avro message using PRODUCE method"
Hi,

I'm not able to produce messages using AVRO (I don't have alternatives like Rest Proxy or RAW). Are there any errors in the written test? Is there an example for this scenario?

I have the following AVRO schema registered.

![image](https://user-images.githubusercontent.com/40573811/122855833-35b37400-d2ec-11eb-843c-cf556a50626a.png)

And the following test written to produce messages. * With

[2021-06-25 21:52] erobertolima121 commented on #500
Hi, @authorjapps

Could anyone help me with this question?
Please.

Thanks,
Roberto

[2021-07-16 00:55] erobertolima121 commented on #341
Hi @M3lkior,

This example is in some repository so I can analyze it in more detail.

This alternative will help me a lot.

[2021-07-16 08:01] M3lkior commented on #341
Nop, it is a part from my enterprise application.

[2021-08-02 03:58] arjunjh10 commented on #365
Hey, it would be great if this support for JUnit annotations could be added.

[2021-08-11 13:54] warademilind commented on #195
@santhoshTpixler , @authorjapps
Is this issue still open.
I am using Zerocode for long time, but it will be good if integration with OpenApi will be possible. As it will be make automation faster and without many changes. As OpenApi is well maintained and if we can use it in Zerocode then it's great.

[2021-08-20 13:21] bstoilov commented on #412
I would also like this feature. Having to maintain second configuration is a bit of a pain at times

[2021-08-31 06:59] arjunjhnzpost commented on #409
This would be a cool feature to have, really.

[2021-09-17 02:03] LoveDu opened #502 "zerocode.io the website could not open"
zerocode.io  the website could not open

[2021-09-24 17:36] sparrowV commented on #502
@LoveDu  its UP now, please check

[2021-09-24 17:36] #502 closed

[2021-10-06 14:51] SuyogSSS opened #504 "@Before and @After skipped - Zerocode - Testrail"
Hello,

I am new to zerocode and Junit.
I was trying to integrate my test runs with testrail using Junit and Zerocde.
I refered : https://github.com/swtestacademy/TestRailsIntegration

When I run it as plain JUnit test. it works fine. But when I run it along zerocode(@TargetEnv, @Scenario, ZeroCodeUnitRunner.class) then @Before and @After is skipped due to which my testcase in testRail does not ex

[2021-11-23 20:04] harshasridhar opened #506 "Test case initialisation failing abruptly"
Test case execution stopped all of a sudden, this happened with v1.3.27, upgraded to v1.3.28 still see the same error
<em><b>Not sure on how to reproduce it</b></em>

Code:
[code]

Stack Trace:
[code]

[2021-11-24 19:31] sparrowV commented on #506
Hi @harshasridhar .
Seems like this is [Java 9 error](https://stackoverflow.com/questions/41265266/how-to-solve-inaccessibleobjectexception-unable-to-make-member-accessible-m)
The framework was written in Java 8. Can you please switch to Java 8 and try again?

[2021-11-24 19:38] sparrowV commented on #504
HI @SuyogSSS
With regard to @Before and @After , can you share the minimum reproducible code with us so we can see in detail?

With regard to storing req/resp in Java variable, there is no out of the box solution, you can leverage [method execution](https://www.youtube.com/watch?v=7CO2mbtBV9E) from a scenario.

You can also join us in the [Slack](https://join.slack.com/t/zerocode-workspace/shared_

[2021-12-03 06:06] harshasridhar commented on #506
Worked with java 8.

[2021-12-03 06:06] #506 closed

[2021-12-03 06:09] sparrowV commented on #506
@harshasridhar  Great. If you need anything else you can  join our  [Slack](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ) .

[2021-12-08 13:42] infoShare opened #507 "[1.3.28] Step "assertions" field is not null safe"
Is it possible to make Step.assertions field null safe ?
We're using tests on spring boot and with version changed from 2.5.4 to 2.6.1 we're receiving NPE on Step constructor.
JsonNode assertions was previously always not null - now it's null.

this.assertions = **assertions**.isNull() ? verify : assertions;

[2021-12-17 12:40] arpan57 opened #508 "Asserting an exception in ZeroCode for Kafka ACL testing"
I am trying to test a kafka reader writer scenario where the user has permission to write to the topic, but does not have permission to read from that topic.

The java code looks like this :

[code]

The corresponding JSON looks like this :
[code]

When I run the test I encounter :

`java.lang.RuntimeException: org.apache.kafka.common.errors.GroupAuthorizationException: Not authorized to access gr

[2021-12-17 16:51] sparrowV commented on #507
@infoShare can you share the step that's producing NPE?

[2021-12-17 16:58] sparrowV commented on #508
@arpan57  Hi. As I understand the exception fails the step, which fails the scenario, right?

[2021-12-17 18:17] arpan57 commented on #508
Hi,
Yes, the runtime exception fails the test case, where as I am expecting that exception and want to assert it. Can we assert the exception message (string) or exception type ?

[2021-12-17 18:22] sparrowV commented on #508
@arpan57 I dont see out of the box solution here. What you can do it create your own custom kafka client, where insteaed of throwing exception you catch exception and return message. You then need to reference that custom kafka client in the test.

Customer Kafka client example [here](https://github.com/authorjapps/zerocode/blob/master/kafka-testing/src/main/java/org/jsmart/zerocode/kafka/MyCustom

[2021-12-17 22:08] arpan57 commented on #508
Thank you @sparrowV . I will try this next week.
Cheers.

[2021-12-20 10:15] infoShare commented on #507
Try to use framework with jackson-databind 2.13.0

You'll receive this error for steps that doesn't contains assertions:
Caused by: java.lang.NullPointerException
	at org.jsmart.zerocode.core.domain.Step.<init>(Step.java:154)

Assertions here is null:
     this.assertions = **assertions**.isNull() ? verify : assertions;
and with previous jackson versions was always not null (NullNode with 'null' v

[2021-12-20 10:39] sparrowV commented on #507
@infoShare  you can specify empty assertions block.
`assertions : {}`
It should help with NPE

[2021-12-20 11:52] infoShare commented on #507
but what is the point of adding additional `assertions: {}` next to the verify which can be used ?

[2021-12-20 12:45] sparrowV commented on #507
@infoShare  I understand now. I agree this should be null safe.
For a workaround, make sure that during test phase,  it uses old jackson-databind(that comes from zerocode), not new one.

[2021-12-20 16:22] #508 closed

[2021-12-20 18:45] sparrowV commented on #508
@arpan57  Yeah example was with test suite but you can change to your needs quick easily. Glad it was helpful. Btw, you can join our [Slack](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ)  for more discussion etc.

[2021-12-21 08:59] arpan57 commented on #508
Thanks.

[2022-01-21 23:59] priya1712d commented on #207
@authorjapps Hello team! Do you still need help with this issue? I am starting my open contribution journey, can jump in for other issues as well! Thank you in advance :)

[2022-01-22 00:38] priya1712d commented on #148
@authorjapps Hello! I am interested in working on this issue. Is anyone working on this?

[2022-01-22 15:44] chou3ib1 commented on #507
@infoShare this is a known issue in jackson-core
for more inforamtion please refer to this lik.
https://github.com/FasterXML/jackson-databind/issues/3214

[2022-02-04 14:18] mboban2021 opened #512 "Getting response code 307 for POST"
Hi,

I am getting 307 response code when executing a POST operation. But same is working fine in postman. I verified headers and body passed, all look correct. Could you please advise?

[2022-02-04 16:33] #512 closed

[2022-02-16 22:25] arpan57 opened #513 "Example for testing Rest Proxy running over SSL"
Hi,

Our rest proxy currently runs on https. We would like to test our end to end flow around rest proxy.
We could test the rest proxy using curl. Following line works perfectly fine with curl.
`curl --cert client.pem --key client-key.pem https://DNS_OR_IP_REST_PROXY:8083/topics --cacert /path/to/cert-chain.pem`
In the above example, we are passing the
privatekey of the client
signedcert of the cl

[2022-02-18 11:16] anthonyfarrelloylegate opened #514 "Question. Release candence of ZeroCode updating the currency of internal dependencies."
I work for Watson Health in IBM and we are reviewing ZeroCode for our requirements.

I have a question to your release cadence and your plans to keep the version of third party open source jars current.   With critical issues often appearing in the third party supply chain, keeping current is important from a security stance and to allow  ZeroCode to continue to work with other software, e.g. Spri

[2022-02-18 14:53] sparrowV commented on #514
Hi. We do plan to update dependencies. Im not sure about the release date though. You can always exclude whatever dependency is "problematic". Btw, please join our  [Slack](https://join.slack.com/t/zerocode-workspace/shared_invite/enQtNzYxMDAwNTQ3MjY1LTA2YmJjODJhNzQ4ZjBiYTQwZDBmZmNkNmExYjA3ZDk2OGFiZWFmNWJlNGRkOTdiMDQ4ZmQyNzcyNzVjNWQ4ODQ) if you need to discuss some other related issue to your proj

[2022-02-26 13:25] nameisjayant commented on #141
remove the last "/" from the end point request.

[2022-02-26 15:03] authorjapps commented on #148
@priya1712d , please go ahead and raise a PR for this when ready.

Please have a look here for CONTRIBUTING:
https://github.com/authorjapps/zerocode/blob/master/CONTRIBUTING.md

[2022-03-01 23:47] arpan57 commented on #513
Hi @sparrowV , I have already imported the cert and private key to the keystore.
I want to hit a rest proxy end point with HTTPs, and for the same I am looking for an example with zerocode.

Thanks,
Arpan

[2022-03-02 13:22] anthonyfarrelloylegate commented on #514
One related question on full Junit 5 integration.

Do you have plans to support Junit 5 for all test scenario types, just load testing is supported at present if I understand your docs correctly.

[2022-03-03 22:19] nishantworah commented on #341
@authorjapps  I am facing the same issue. Here is the log when i run the test:

[code]
@erobertolima121 is this the same issue you are facing?

[2022-03-08 16:38] felipeEngineer2020 opened #515 "Does ZeroCode support stream responses in API calls?"
I'm testing an endpoint that stream all data back to client, it process the response in chucks. Total number of records in database are 800 but when I run my test Zerocode response only shows ONE record in the body of the streaming response list.

Content-Type is JSON

Thanks!

[2022-03-10 10:16] authorjapps opened #516 "Remove the marketing information from the README md file"
AC1:
Use the original OSS logo, description text.
Raise a PR to remove the marketing images of Zerocode Ltd, information text from the README file, and elsewhere available

AC2:
Put the JetBrains IntelliJ credit SVG image for their free IDE licenses to the developers to the README file and elsewhere available

[2022-03-10 10:22] authorjapps opened #517 "Create Junit5 Jupitor engine implementation"
AC3:
Put a notice in the README or POM file to switch from JUnit4 to JUnit5 for projects needs Junit5 support

AC2:
Deprecate JUnit4 engline.

[2022-03-10 11:45] authorjapps commented on #515
@felipeEngineer2020 , I think you can do it by adding a wrapper.
@BeTheCodeWithYou can help here, something like this I think he has done in the past I guess.

[2022-03-10 14:53] felipeEngineer2020 commented on #515
Can you please provide an example? Thanks.

[2022-03-10 15:51] nirmalchandra commented on #515
Is it a async call ?

1. Can you please share your current API calls, how it responds e.g. Browser output or Postman screenshot etc?
2. Can you also share how you're doing it using zerocode steps?

[2022-03-13 23:52] authorjapps opened #518 "Add the marketing information to the README md file"
AC1:
Add marketing information, image and text etc to the README md file for Zerocode ltd

[2022-03-13 23:53] authorjapps commented on #518
Done

[2022-03-13 23:53] #518 closed

[2022-03-14 00:01] authorjapps opened #519 "Add JetBrains marketing credit SVG logo"
AC1:
Amend the README file to have JetBrains IDE logo.
Raise a PR with changes

[2022-03-18 17:05] arpan57 commented on #513
One of my team mates solved this by using JUnit. We couldn't fix it with zerocode.

[2022-03-18 17:06] #513 closed

[2022-04-19 17:02] sudhindra95 opened #520 "maxNoOfRetryPollsOrTimeouts counter does not get reset to 0 when any record(s) are read"
In [this](https://github.com/authorjapps/zerocode/blob/master/kafka-testing/src/test/resources/kafka_servers/kafka_test_server.properties) file, the comment written for consumer.maxNoOfRetryPollsOrTimeouts mentions that the if any record(s) are read, then this counter is reset to 0(zero) and the consumer polls again. However, I have not seen this counter getting reset to 0 when any records are rea

[2022-04-22 21:34] manishvancouver commented on #409
Similar requirement has been requested in https://github.com/authorjapps/zerocode-hello-world/issues/29 as well.
Parameterization of external files will be important feature that could solve multiple challenges.

[2022-04-22 21:42] automationuser-m opened #521 "Feature Request -Parameterization of file name in Step"
**Description** :
In order to execute performance tests, json has to be sent in the body request.
There are more than 1000 json files that has to be used in the performance testing.
Each file contains different data. File name consists of <<uuid-client.json>> format

We created custom java function that will scan the directory for list of files and parse the uuid so that it can be used in the test

[2022-04-27 05:41] sparrowV commented on #521
Hi,
Do you want to you all of those JSON files in the same step?

[2022-04-27 05:59] sparrowV commented on #520
Hi @sudhindra95
When polling, consumer will try to read records `maxNoOfRetryPollsOrTimeouts` times. So lets say its 2. If on first read it read 0 records, then it will try again second time. If second time still 0 records then it stop polling.
So this counter does not change. It just indicates max number of times consumer should try to poll data.

The part of the Doc is a bit misleading.

Btw,for

[2022-04-27 10:48] manishintouchfollowup commented on #521
Thank you for looking into it.

Yes, all json files should be fetched from same step.
The file name should match the geid in the header.

[2022-04-27 13:34] sparrowV commented on #521
Currently there is not such functionality to execute step with N-times with different values.
In that case, if one of the executions fails, should it fail the whole step?(According to your usecase)

[2022-04-27 13:44] manishintouchfollowup commented on #521
Thanks for response. I understand.

Executing same step N-times with different values functionality currently exists. It can be achieved by setting up thread count and use PerformanceTesting runner.

In above example, header accepts parameterized values. So step can be executed N-times with different values.
The challenge in above use case is, JSON:FILE does not accept parametrized values i.e. we

[2022-04-27 13:49] sparrowV commented on #521
I dont think there is built in way.
@authorjapps  do you know how this can be achieved?

[2022-04-27 16:09] manishvancouver commented on #521
Thanks for response. I understand.

Executing same step N-times with different values functionality currently exists. It can be achieved by setting up thread count and use PerformanceTesting runner.

In above example, header accepts parameterized values. So step can be executed N-times with different values.
The challenge in above use case is, JSON:FILE does not accept parametrized values i.e. we

[2022-04-27 17:07] sudhindra95 commented on #520
Thank you @sparrowV

[2022-04-27 17:24] prabushyam commented on #520
@sparrowV  if records are read, the counter should reset to zero or atleast not increment. If 10 messages are expected, and 1 message is getting produced per poll, then the`maxNoOfRetryPollsOrTimeouts` needs to be set to atleast 10 to successfully consume all the records. Should we reset the `noOfTimeouts` to zero if `records.count() > 0` [here](https://github.com/authorjapps/zerocode/blob/master/

[2022-04-28 05:45] Trundicho opened #523 "Fix vulnerabilities from dependencies in 1.3.28"
In zerocode 1.3.28 there are listed 11 vulnerabilities from dependencies (See https://mvnrepository.com/artifact/org.jsmart/zerocode-tdd/1.3.28):
[CVE-2022-23221](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-23221)
[CVE-2021-42550](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-42550)
[CVE-2021-42392](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-42392)
[CVE-2021-2942

[2022-05-16 01:12] franciscofeo commented on #523
Hi! I would like to help in this issue if someone hasn't already taken it... but I will need some time because I'm new with Maven  :sweat_smile: I've found these vulnerabilities in version 1.3.29 too

[2022-05-26 11:46] tomunix2000 opened #526 "Can't pass system env to properties file"
I have system env from mvn like this:
mvn verify -Dskip.it=false -Ddb.username=xxxx -Ddb.password=xxxxx -DpropertyFile=local.properties

My properties app_host.properties is like this:

[code]

My test case:

[code]

I expect when I run the mvn command, zerocode will replace  the properties value with env value
kafka.producer.properties=kafka_config/local.properties

But it does not

[2022-05-30 06:05] tomunix2000 commented on #526
Fixed. changed in ApplicationMainModule, will submit PR soon

[2022-06-13 13:26] M3lkior opened #527 "Adding support for Mac M1 chip"
When running a zerocode (1.3.28) project under a Mac M1 chip, the following error is throw:

[code]

This is a limitation from the `snappy-java` (1.1.7.2) in the `kafka-client` 2.1.0 version;

This limitation is solved since the `1.1.8.2` version but not patched in the `kafka-client` 2.1 branch (see https://github.com/apache/kafka/blob/2.1/gradle/dependencies.gradle)

[2022-06-14 20:21] authorjapps commented on #526
@tomunix2000, Can you please submit a PR for [this ApplicationMainModule](https://github.com/authorjapps/zerocode/blob/master/core/src/main/java/org/jsmart/zerocode/core/di/main/ApplicationMainModule.java) when you're ready?

[2022-06-15 10:27] infoShare opened #529 "Maven single test build failure marked as success"
Hello,

when running single test using maven:

mvn -B -f /app/jenkins/workspace/SingleIntegrationTest/tests/pom.xml clean compile **-Dtest=SingleTest#testMethod** test -Dio.netty.tmpdir=/var/tmp -Djava.io.tmpdir=/var/tmp -pl integration-tests -am -Dsurefire.failIfNoSpecifiedTests=false

I'm getting assertion errors:
15:16:01.285 [main] ERROR o.j.z.c.r.StepNotificationHandler - Assertion failed for

[2022-07-21 07:47] vinayak5044 opened #531 "Unable to pass array to body of request from previous API response."
API response of previous POST request:
"dtcIds" : [ "#37:1498", "#37:1499", "#37:1502", "#37:1503" ]

Need to pass this whole array to body of request - But After running getting in logs like:
      "request": {
        "headers": {
          "locale": "${locale}"        },
         "body": {
              "dtcIds": "${$.previousRequest.response.body.dtcIds[?(@.*)]}"
        }

In logs it seems li

[2022-07-21 07:52] vinayak5044 commented on #531
It should be pass to body(payload) like this only -
"dtcIds" : [ "#37:1498", "#37:1499", "#37:1502", "#37:1503" ]

and not like -
![zerocode_backSlash1](https://user-images.githubusercontent.com/57187905/180160192-393164b8-478d-44b9-ba08-bf803b8261dc.png)

[2022-08-01 05:10] vinayak5044 commented on #531
@sparrowV Could you please look into it ?

[2022-08-01 11:27] ayushdubey755 commented on #531
Hi @vinayak5044 i have recently work on such type of issue in which i have created instance of JSONObject and passed the string(in your case "dtcIds") in the arguments and  then with the help of JSONObject reference i have invoked jsonObject.optString("dtcIds").replace("\", ""); , used sprinboot in my project.

[2022-08-01 17:48] praducg opened #532 "Can we update the configuration properties when the operation is running ?"
When running the load runner is it possible to update the thread count in properties during run time .Would the testmapping picks updated the property?

[2022-08-02 10:05] vinayak5044 commented on #531
Hi @ayushdubey755
Thanks for reply.

But In my case, Can you please help to understand how to create jsonObject because I am taking array "dtcIds" from previous api response and chained it in required API.

For more understanding please refer below attached screenshot:
I want syntax to pass in red marked square which will reflect correct dtcIds list
![zerocode_sample](https://user-images.githubuse

[2022-08-02 19:47] ayushdubey755 commented on #531
//sample code

private void initAuthor() {
        Path path = Paths.get(authorDumpLocation);
        try (Stream<String> lines = Files.lines(path)) {
            lines.forEach(line -> {
                //read and parse the line
                String jsonString = line.substring(line.indexOf("{"));
                try {
                    JSONObject jsonObject = new JSONObject(jsonString);

[2022-08-06 11:06] #527 closed

[2022-08-08 11:59] vinayak5044 commented on #531
Hi @ayushdubey755

I tried but unable to do it.

I am confused where I need to write this method to replace regex and how to call it from json test cases file ?

[2022-08-26 23:34] sudhindra95 opened #535 "How to get size of a response of some previous step and assert it with another step?"
Hello community,

Consider the below sequence of steps:
[code]

NOTE:
"fetch_attempt" is another step in the test scenario that is present in the actual scenariobut  not included in the above snapshot steps for brevity

Response of the first step (verify_request) is {"myRequest" : [ {}, {}, {}...] } and response of second step (verify_response_1) is {"newResponse" : [ {}, {}, {}...] }.
I want to a

[2022-08-29 16:15] Malleshkm commented on #523
Hi! I would like to work on this issue if someone hasn't already taken it...

[2022-09-08 04:30] AdwitiyaMishra commented on #459
Hi @johnc2017 is the issue still available I would like to work on it.

[2022-09-13 12:36] nirmalchandra commented on #459
@2022H1030042G , you can introduce a "meta" section to the core "scenario->step"  and have the below provision inside the "step".
[code]
That might do the job.

[2022-09-15 09:07] M3lkior commented on #341
hi @erobertolima121 ;

If it can help, i created a gist with my helper classes in order to support AVRO in the produce step

https://gist.github.com/M3lkior/aa4f2b21a46f2d45c84b09b5b0331930

[2022-09-15 11:18] byrnej14 opened #536 "Query Parameter of Log HTTP request not returning correct 'rawBody' in Zerocode"
Hi all,

Hoping someone may have come across this behaviour.  We are trying to get recent entries of the log of a Pod in a namespace.

I am referring to this API: https://docs.okd.io/3.9/rest_api/api/v1.Pod.html#Get-api-v1-namespaces-namespace-pods-name-log

We have verified that an entire log file is returned using Zerocode when no query parameters are specified.  We have also verified the query

[2022-09-27 09:22] nirmalchandra commented on #459
@2022H1030042G , into the DSL section, you can add the above lines e.g.

[code]
I think this way we can keep this section optional.

But in case of doubts or if it can be done differently, please collaborate/discuss with the developer/tester who raised this issue. There could be a better solution possible to suit the requirement.

[2022-09-27 10:02] 2022H1030042G commented on #459
@johnc2017 @nirmalchandra what I mean is where in the repository (under which folder/file) , do I have to make the changes?

[2022-09-30 12:36] ehda93 commented on #516
Hi, this is my first time contributing to an open source project. Can i grab this one?

[2022-10-03 07:31] anubhav823 commented on #420
Hi @authorjapps
Seems like this issue is open. Can you please assign it to me?

[2022-10-05 13:31] M3lkior commented on #436
hi @kt09 ; @authorjapps ;

I reopen this thread because I actually have the same limitations for my scenario.

I have a use case where
- i produce a kafka message into a first topic with a generated `correlation_id` in headers
- my app process the message and produce a response in another topic with the same `correlation_id`

Here is my sample scenario:

[code]

Actually, the json path expression

[2022-10-05 13:46] kt09 commented on #436
I have a more basic question: is zerocode framework still being maintained/developed and supported? I noticed that the website is not there anymore

Sent from my iPhone

[2022-10-05 13:48] M3lkior commented on #436
i guess yes the last commit on master is on September ;)

[2022-10-17 09:28] authorjapps opened #540 "CI pipeline using Actions script"
Background:
Currently, TravisCI setup is not working due to service discontinuation.
See: https://github.com/authorjapps/zerocode/blob/master/.travis.yml

AC1:
Implement the CI build using the GitHub Actions script.
Refer to the above CI script to start/stop docker for Kafka e2e tests

AC2:
Make sure the branch build is triggered for PRs which will help to decide the PR can be merged.

Note:
This

[2022-10-18 17:05] AlindGit opened #541 "Method Invoke Error"
Getting exception while  going for DB validation via zero code as below:-
2022-10-18 22:17:36,436 [main] ERROR org.jsmart.zerocode.core.engine.executor.ApiServiceExecutorImpl - Java method execution exception - java.lang.RuntimeException: java.lang.RuntimeException: Java exec(): Invocation failed for method executeSimpleSql in class Com.wibmo.utility.PostGresSqlExecutor
java.lang.RuntimeException:

[2022-10-19 14:32] authorjapps commented on #541
@AlindGit , can you push it to github and then, I can have a look ?
I think there might be an example/sample which works, please  have a look in the documentations/wiki.

[2022-10-21 07:15] authorjapps commented on #532
Currently, it doesn't do this during the runtime, it just picks at the start of the execution and runs with it.
Just checking, what's your usecase?

[2022-10-21 11:04] Tineshnehete commented on #540
Hi, there . I think i can fix it. Can you please assign it to me :)

[2022-10-22 09:15] nirmalchandra commented on #540
Thank you @Tineshnehete for picking this.
If you need any help related to Kafka tests or any other stuff e.g. maven etc, feel free to ping me, I can arrange a call with other collaborator who initially helped in creating the Travis pipeline.
Nevertheless please tag me in the PR even when partially ready, I should be able to take care after that.

[2022-10-24 10:06] authorjapps opened #542 "Asserting a Kafka message of interest from the consumed messages"
AC:
As a developer/tester(SDET) I want to assert a particular Kafka message from the number of messages consumed.
e.g.
incoming messages(sequence not deterministic):
Message 1  (key1, value1)
Message 2  (key2, value2)
Message 3  (key3, value3)

Now I want to assert only "Message 2" based on "key2" or some matching fields in "value2".

Just checking,
if anyone has done this kind of automation?
Any

[2022-10-25 15:54] Tineshnehete commented on #519
I will also fix broken links in readme :)

[2022-10-26 09:18] authorjapps commented on #542
Closed by https://github.com/authorjapps/zerocode/pull/546

[2022-10-26 09:18] #542 closed

[2022-10-26 22:58] authorjapps commented on #540
Amazing work and thanks a lot 🙏 .
I will need some documentation help on this bit, will ping you when I get a chance.

[2022-10-26 22:58] #540 closed

[2022-11-01 13:21] authorjapps commented on #436
Thank you, great job.
Will review and merge soon.

Final bit and help needed when you get chance:
Would you mind adding a basic helloword-type example for this please into the Docs?

This will be very useful for most users.

[2022-11-01 13:28] authorjapps opened #548 "Configure Travis build for for not to appear the as REQUIRED in the CI pipeline"
Background:
Travis is not fully killed/gone. Somewhere it's still referring even after the Actiosn build is successful.
<img width="749" alt="image" src="https://user-images.githubusercontent.com/12598420/199243556-4a5407d7-24c5-4e8c-a685-ebe77eb1296c.png">

See the "Required" tag in the screenshot. This needs to be removed. This should not even appear here. This is no more a required thing.

AC:

[2022-11-02 08:24] M3lkior commented on #436
yep sure @authorjapps ; but your doc link seems broken

[2022-11-03 19:37] nirmalchandra opened #549 "Global unique and random ID for a test suite e2e session"
Background:
As a SDET or dev I need a global unique as well as random ID which I can use per test session
i.e. an ID which is available from start to end of a test session.

AC:
This should allow me to use anywhere
e.g. inside a test scenario or in a config file if needed.

Suggestion:

[2022-11-04 12:01] nirmalchandra commented on #549
https://github.com/authorjapps/zerocode/pull/550

[2022-11-04 16:48] nirmalchandra opened #551 "Cache consumer for same topic"
## Background:
Since recently I am facing an issue in my project when a newly created Consumer `CON_B` in the same consumer group `Group1` wants to poll from another topic `topic_gov_Y`, then it is unable to join the group due to failing to rebalance.
I think I have figured out why this scenario causing the above issue. I will write up a small article on this and propose a possible solution on how

[2022-11-04 16:54] nirmalchandra opened #553 "Apache Kafka client to latest - version 3.3.1"
TODO:

Also update the Apache Kafka client to latest:

(IN-PROGRESS)

[2022-11-05 11:33] nirmalchandra commented on #548
Fixed.
Removed the mandatory check for Travis-CI. ✅
Removed from WebHooks + Branch protection rules. ✅

EMoji Cheat Sheet help here:
https://github.com/ikatyang/emoji-cheat-sheet/blob/master/README.md#emoji-cheat-sheet

[2022-11-05 11:33] #548 closed

[2022-11-06 21:18] #436 closed

[2022-11-07 19:39] arran-auctane commented on #473
Think I've found I'm having a similar issue with multi-module gradle setups.

The CSV files appear to be wrote to a target directory within the submodule directory, but it's then attempting to read the CSV file from a target directory in the project root.

So wrote to .../project/submodule/target/zerocode-test-reports
But fails trying to read back from .../project/target/zerocode-test-reports

[co

[2022-11-08 07:21] authorjapps commented on #551
TODO:
Add Documentation or WIki page

[2022-11-08 07:21] #551 closed

[2022-11-10 22:42] authorjapps commented on #553
Fixed.
Available in 1.3.31 onwards.

[2022-11-10 22:42] #553 closed

[2022-11-10 22:43] authorjapps commented on #549
Fixed.
Available in 1.3.31 onwards

[2022-11-10 22:43] #549 closed

[2022-11-16 17:59] authorjapps opened #555 "Sort message list or array for deterministic assertions"
Just checking, has anyone faced this and solved it(how)?
Any pointers and suggestions are welcome and appreciated.

Summary:
When records are received from Kafka topics or any other Sources(e.g. APIs)  as a response, there is a possibility of getting the records in random order which makes it difficult to assert because of the array element positioning.

Solution:
If we have a mechanism to sort it